<!--title-->
<section>
    <div class="banner-about">
        <div class="main-bn ps-relative">
            <img src="img/banner-abt.jpg" alt="" class="full-width">
            <div class="banner-text">
                <h1 class="uppercase text-center">about gs worldwide entertainment company</h1>
            </div>
        </div>
    </div>
</section>

<!--data-->
<section class="top-align">
    <div class="banner-about abt2">
        <div class="container">
            <div class="row">
                <div class="col-md-7 bdr-right">
                    <p class="text-justify">GS Entertainment, leading name in the Indian entertainment industry started business in 1995 as an event
                        management and film production company.Having scaled the heights of success, the company has ventured
                        into the diversified fields of television software development, weddings, ad films, music videos
                        and celebrity management.
                    </p>
                    <p class="text-justify">
                        What sets GS apart is vision, talent, expertise and attention to detail which shows in the flawless planning and execution.
                        Some of the biggest Bollywood shows in India and abroad have been co-ordinated, scripted and directed
                        by GS.
                    </p>
                    <p>
                      In addition GS has produced five films "Pyar Kiya Toh Darna Kya" (1998), "Hello Brother" (2000),
                     "Maine Dil Tujhko Diya" (2002), "Ek Ajnabee" (2005), "Lamhaa" (2010) and forthcoming thriller "Chowky".
                    </p>
                  </div>

                  <div class="col-md-5">
                    <div class="icon-list">
                        <ul class="list-inline">
                            <li>
                                <div class="icon-padd top-left">
                                    <div><img src="img/pillars.png" alt="" class=""></div>
                                    <div>
                                        <p class="icon-tag">ESTABLISHED</p>
                                    </div>
                                    <div>
                                        <h3 count-to="{{1995}}" duration="10" count-from="{{0}}" class="text-uppercase text-center statement2"></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="icon-padd bottom-left">
                                    <div><img src="img/projectx.png" alt="" class=""></div>
                                    <div>
                                        <p class="icon-tag">PROJECTS</p>
                                    </div>
                                    <div>
                                      <h3 count-to="{{350}}" duration="10" count-from="{{0}}" class="text-uppercase text-center statement2"></h3>
                                      <!-- <h3 class="text-uppercase text-center statement2">350+</h3> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="icon-padd top-right">
                                    <div><img src="img/woman.png" alt="" class=""></div>
                                    <div>
                                        <p class="icon-tag">CLIENTS</p>
                                    </div>
                                    <div>
                                      <h3 count-to="{{55}}" duration="5" count-from="{{0}}" class="text-uppercase text-center statement2"></h3>
                                        <!-- <h3 class="text-uppercase text-center statement2">55+</h3> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="icon-padd mid-center">
                                    <div><img src="img/blank-map-pointer.png" alt="" class=""></div>
                                    <div>
                                        <p class="icon-tag">BASES</p>
                                    </div>
                                    <div>
                                      <h3 count-to="{{3}}" duration="5" count-from="{{0}}" class="text-uppercase text-center statement2"></h3>
                                        <!-- <h3 class="text-uppercase text-center statement2">3</h3> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="icon-padd bottom-right">
                                    <div><img src="img/group.png" alt="" class=""></div>
                                    <div>
                                        <p class="icon-tag">TEAM SIZE</p>
                                    </div>
                                    <div>
                                        <h3 count-to="{{50}}" duration="5" count-from="{{0}}" class="text-uppercase text-center statement2"></h3>
                                        <!-- <h3 class="text-uppercase text-center statement2">50+</h3> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</section>

<!--our mission-->
<section>
    <div class="banner-about abt1">
        <div class="container">
            <h2 class="text-uppercase text-center statement3 ldr-color mgb-30">OUR Mission</h2>
            <div class="row content">
                <!-- <div class="col-md-5"> -->
                  <div class="mission1">
                    <div class="text-center text-uppercase double-comma1">
                        <p class="text-justify miss-txt">Relationships are <br> the wealth of our business</p>
                    </div>
                  </div>

                <!-- </div> -->
                <!-- <div class="col-md-7"> -->
                  <div class="mission2">
                    <div class="text-center text-uppercase double-comma2">
                      <p class="text-justify miss-txt miss-2">Excellence is the fabric of our work,<br> spun with the yarn of knowledge and expertise,<br> built on the foundation of transparent dealing.</p>
                    </div>
                  </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>
<!-- global -->
<section>
    <div class="banner-about abt2 abt7">
        <div class="container">
            <h2 class="text-uppercase text-center statement3">GLOBAL</h2>
            <p class="text-justify glbl-p">
              GS experiences reach consumer and guests from every corner of the globe.Experience from more than 500 events worldwide has instilled unrivalled expertise in us.Our team work together to create entertainment experiences that are both universally and locally cherished.
            </p>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div><img src="img/abt-mumbai.png" alt="" class="img-responsive"></div>
                    <div>
                        <p class="statement4">MUMBAI</p>
                    </div>
                    <div class="glbl-cont">
                        <p class="text-justify">B-001/01, Bhagtani Krishang,
                            <p class="text-justify">Dattatray Road, Santacruz (W),
                                <p class="text-justify">Mumbai – 400 054. India.</p>
                                <p class="text-justify">Contact No : 91 (22) 2661 4477</p>
                                <p class="text-justify">Email: <a href="mailto:jsw@gsentertainment.com" target="_blank" class="blk-mail">jsw@gsentertainment.com</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div><img src="img/abt-newy.png" alt="" class="img-responsive"></div>
                    <div>
                        <p class="statement4">NEW YORK</p>
                    </div>
                    <div class="glbl-cont">
                        <p>18, Princeton Drive,</p>
                        <p>Syosset, NY - 11791,USA</p>
                        <p>Contact No : +19177203663</p>
                        <p>Email: <a href="mailto:jsw@gsentertainment.com" target="_blank" class="blk-mail">jsw@gsentertainment.com</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div><img src="img/abt-dubai.png" alt="" class="img-responsive"></div>
                    <div>
                        <p class="statement4">DUBAI</p>
                    </div>
                    <div class="glbl-cont">
                        <p>409, City Tower 1, Sheikh Zayed</p>
                        <p>Road, P. O. Box 118767.</p>
                        <p>Dubai, UAE</p>
                        <p>Contact No : +919967233337</p>
                        <p>Email: <a href="mailto:jsw@gsentertainment.com" target="_blank" class="blk-mail">jsw@gsentertainment.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--leadership-->
<section>
    <div class="banner-about abt4">
        <div class="container">
            <h2 class="text-uppercase text-center statement3 ldr1-color">LEADERSHIP</h2>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-6"><img src="img/Bunty.png" alt="" class="img-responsive"></div>
                    <div class="col-md-6">
                        <div class="txt">
                            <p class="lead-name">Bunty Walia</p>
                            <p class="ldr-border1 text-justify">GS worldwide entertainment is headed by Guneet Singh Walia aka Bunty Walia. An eminent businessman
                                and a great visionary who has carved the company from a start up into a multinational organization.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-6"><img src="img/jaspreet.png" alt="" class="img-responsive"></div>
                    <div class="col-md-6">
                        <div class="txt">
                            <p class="lead-name">Juspreet Singh walia</p>
                            <p class="ldr-border1 text-justify">Having majored in Finance at Drexel University, USA and worked for SAP America and Carlin Equities
                                as a business analyst, is now all set to drive GS worldwideentertainment to new frontiers
                                in the business of entertainment
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--business-->
<section>
    <div class="banner-about abt2 abt6 abt6">
        <div class="container">
            <h2 class="text-uppercase text-center statement5">Our Businesses</h2>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="bus-ul">
                        <ul class="list-inline">
                            <li>
                                <div class="bus-hgt">
                                    <img src="img/abt-allstar.png" alt="" class="img-responsive">
                                </div>
                            </li>
                            <li>
                                <div class="bus-hgt">
                                    <img src="img/abt-wedd.png" alt="" class="img-responsive">
                                </div>
                            </li>
                            <li>
                                <div class="bus-hgt">
                                    <img src="img/abt-naksha.png" alt="" class="img-responsive">
                                </div>
                            </li>
                            <li>
                                <div class="bus-hgt">
                                    <img src="img/abt-gssport.png" alt="" class="img-responsive">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--management team-->
<!-- <section>
    <div class="banner-about abt2 abt5">
        <div class="container">
            <h2 class="text-uppercase text-center statement3">MANAGEMENT TEAM</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Rachita.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Rachita</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Jignesh.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Jignesh Jain</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Manoj.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Manoj Thakur</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Ajay.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Ajay Singh</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Daud.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Daud</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Rupesh.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>rupesh</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Sakar.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Sakar Sharma</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="man-cont">
                        <div class="man-team"><img src="img/Rishabh.jpg" alt="" class="img-responsive"></div>
                        <div class="man-name">
                            <p>Rishabh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- who we are -->
<section>
  <div class="banner-about abt2 abt5">
      <div class="container">
          <h2 class="text-uppercase text-center statement3">WHO WE ARE</h2>
          <div class="row-flex db-block wrap-row">
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/rt.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Manoj Thakur</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Chief Operating Officer
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/fg.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Jignesh Jain</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Chief Production Officer
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/f.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Rachita</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Client Servicing and Content Designer
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/z.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Ajay Singh</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Accountant
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/w.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Daud Qamran</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Sr.Manager Sports & Events
                </p>
              </div>
  </div>
            </div>






        </div>
          <div class="row-flex db-block wrap-row">
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/q.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Rupesh Panchal</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Creative Designer
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/12.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Sakar Sharma</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Sr.Manager Sports & Events
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Untitled-1.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Rishabh Parekh</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Event Executive
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Akash Gupta</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Production Manager
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Siddesh Saharkar</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Event Executive
                </p>
              </div>
  </div>
            </div>
    </div>
          <div class="row-flex db-block wrap-row">
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Ulkesh Kalantri</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Event Executive
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Monish Dsouza</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Sports Executive
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Rahul Bharti</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Social Media Manager
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Himanshu Pareek</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Intern
                </p>
              </div>
  </div>
            </div>
            <div class="col-flex flex-fit">
            <div class="profile-holder">
              <div class="profile-pic">
              <img src="img/Group-90.png" class="img-responsive" alt="" />
              </div>
              <div class="man-name">
                  <p>Subhash Zavare</p>
              </div>
              <div class="man-position text-center">
                <p>
                  Account Executive
                </p>
              </div>
  </div>
            </div>
    </div>
    <div class="row db-block">
      <div class="col-md-6">
      <div class="profile-holder1">
        <div class="profile-pic1">
        <img src="img/Group-90.png" class="img-responsive" alt="" />
        </div>
        <div class="man-name">
            <p>Mithilesh Mistry</p>
        </div>
        <div class="man-position text-center">
          <p>

          </p>
        </div>
</div>
      </div>
      <div class="col-md-6">
      <div class="profile-holder2">
        <div class="profile-pic1">
        <img src="img/Group-90.png" class="img-responsive" alt="" />
        </div>
        <div class="man-name">
            <p>Shravan Singh</p>
        </div>
        <div class="man-position text-center">
          <p>

          </p>
        </div>
</div>
      </div>
    </div>
  </div>
</section>





<!--history-->
<section>
    <div class="banner-about abt8 history">
        <div class="container">
            <h2 class="text-uppercase text-center statement9">HISTORY OF GS</h2>
            <div class="note-holder">
              <div class="history-note">
                <p class="text-center note">
                  An expertise, which has become the hallmark of GS events, which helps us make the exact trade-off between entertainment and effects.
                  That draws the fine line between good and fantastic.
                </p>
              </div>
            </div>

            <!--<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. Lorem Ipsum has been the industry's standard .</p>

            <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book.</p>

            <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book.
            </p>-->
            <div class="row">
                <div class="text-center btn-margin mgt-50">
                    <div class="btn4 mgt10">
    <div class="button-gs">
                          <a class="btn btn-danger btn-padd" href="http://www.gsentertainment.com/img/GS_Event_History.pdf" download><span class="fi flaticon-clock btn-spacn"></span>
              GS Event History
            </a>
      <a class="btn btn-danger" href="http://www.gsentertainment.com/img/GS_Brochure.pdf" download><span class="fi flaticon-web btn-spacn"></span>
              Download GS Brochure
            </a>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
