<!--title-->
<section>
  <div class="banner-about abt1">
    <div class="main-bn ps-relative">
      <img src="../img/bg-aboutban.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<!--data-->
<section>
  <div class="banner-about abt2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>GS Entertainment, leading name in the Indian entertainment industry started business in 1995 as an event management and film
production company.Having scaled the heights of success, the company has ventured into the diversified fields of television software
development, weddings, ad films, music videos and celebrity management.
</p>
<p>
  What sets GS apart is vision, talent, expertise and attention to detail which shows in the flawless planning and execution. Some of the
  biggest Bollywood shows in India and abroad have been co-ordinated, scripted and directed by GS. In addition GS has produced five films "Pyar Kiya Toh Darna Kya" (1998), "Hello Brother" (2000), "Maine Dil Tujhko Diya" (2002), "Ek Ajnabee" (2005), "Lamhaa" (2010) and
  forthcoming thriller "Chowky".
</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="icon-list">
          <ul class="list-inline">
            <li>
              <div class="icon-padd">
              <div><img src="../img/pillars.png" alt="" class="" ></div>
              <div><p class="icon-tag">ESTABLISHED</p></div>
              <div><h3 class="text-uppercase text-center statement2">2013</h3></div>
            </div>
          </li>
          <li>
            <div class="icon-padd">
            <div><img src="../img/projectx.png" alt="" class="" ></div>
            <div><p class="icon-tag">PROJECTS</p></div>
            <div><h3 class="text-uppercase text-center statement2">100+</h3></div>
          </div>
          </li>
          <li>
            <div class="icon-padd">
            <div><img src="../img/woman.png" alt="" class="" ></div>
            <div><p class="icon-tag">CLIENTS</p></div>
            <div><h3 class="text-uppercase text-center statement2">35+</h3></div>
          </div>
          </li>
          <li>
            <div class="icon-padd">
            <div><img src="../img/blank-map-pointer.png" alt="" class="" ></div>
            <div><p class="icon-tag">BASES</p></div>
            <div><h3 class="text-uppercase text-center statement2">3</h3></div>
          </div>
          </li>
          <li>
            <div class="icon-padd no-border">
            <div><img src="../img/group.png" alt="" class="" ></div>
            <div><p class="icon-tag">TEAM SIZE</p></div>
            <div><h3 class="text-uppercase text-center statement2">50+</h3></div>
          </div>
          </li>
        </ul>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>

<!--our mission-->
<section>
  <div class="banner-about abt1">
    <div class="main-bn ps-relative">
      <img src="../img/bg-aboutmiss.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<!--leadership-->
<section>
  <div class="banner-about abt4">
    <div class="container">
      <h3 class="text-uppercase text-center statement">LEADERSHIP</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6"><img src="../img/abt-bunty.png" alt="" class="img-responsive"></div>
          <div class="col-md-6">
            <p class="lead-name">Bunty Walia</p>
            <p class="ldr-border">GS worldwide entertainment is headed by Guneet Singh Walia aka Bunty Walia. An eminent businessman and a great visionary who has carved the company from a start up into a multinational organization.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6"><img src="../img/abt-juspreet.png" alt="" class="img-responsive"></div>
          <div class="col-md-6">
            <p class="lead-name">Juspreet Singh walia</p>
            <p class="ldr-border">Having majored in Finance at Drexel University, USA and worked for SAP America and Carlin Equities as a business analyst, is now all set to drive GS worldwideentertainment to new frontiers in the business of
entertainment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--management team-->
<section>
  <div class="banner-about abt5">
    <div class="container">
    <h3 class="text-uppercase text-center statement">MANAGEMENT TEAM</h3>
    <div class="row">
      <div class="col-md-3">
        <div><img src="../img/abt-rachita.png" alt="" class="img-responsive"></div>
        <div class="man-name"><p>Rachita</p></div>
      </div>
      <div class="col-md-3">
        <div><img src="../img/abt-jignesh.png" alt="" class="img-responsive"></div>
        <div><p>Jignesh Jain</p></div>
      </div>
      <div class="col-md-3">
        <div><img src="../img/abt-manoj.png" alt="" class="img-responsive"></div>
        <div><p>Manoj Thakur</p></div>
      </div>
      <div class="col-md-3">
        <div><img src="../img/abt-ajay.png" alt="" class="img-responsive"></div>
        <div><p>Ajay Singh</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div><img src="../img/abt-daud.png" alt="" class="img-responsive"></div>
        <div><p>Daud</p></div>
      </div>
      <div class="col-md-3">
        <div><img src="../img/abt-rupesh.png" alt="" class="img-responsive"></div>
        <div><p>rupesh</p></div>
      </div>
      <div class="col-md-3">
        <div><img src="../img/abt-sarkar.png" alt="" class="img-responsive"></div>
        <div><p>Sakar Sharma</p></div>
      </div>
      <div class="col-md-3">
        <div><img src="../img/abt-risabh.png" alt="" class="img-responsive"></div>
        <div><p>Rishabh</p></div>
      </div>
    </div>
  </div>
</div>
</section>

<!--business-->
<section>
  <div class="banner-about abt6">
    <div class="container">
      <h3 class="text-uppercase text-center statement">OUR BUSINESS</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="../img/abt-allstar.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-3">
          <img src="../img/abt-wedd.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-3">
          <img src="../img/abt-naksha.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-3">
          <img src="../img/abt-gssport.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

<!--global-->
<section>
  <div class="banner-about abt7">
    <div class="container">
    <h3 class="text-uppercase text-center statement">GLOBAL</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="row">
      <div class="col-md-4">
        <div><img src="../img/abt-mumbai.png" alt="" class="img-responsive"></div>
        <div><p>MUMBAI</p></div>
        <div><p>B-001/01, Bhagtani Krishang, Dattatray Road, Santacruz (W),
Mumbai – 400 054. India.
Contact No : 91 (22) 2661 4477
Email: www.rakesh@gmail.com</p></div>
      </div>
      <div class="col-md-4">
        <div><img src="../img/abt-newy.png" alt="" class="img-responsive"></div>
        <div><p>NEW YORK</p></div>
        <div><p>18, Princeton Drive,
Syosset, NY - 11791,USA
Contact No : +19177203663
Email: www.rakesh@gmail.com</p></div>
      </div>
      <div class="col-md-4">
        <div><img src="../img/abt-dubai.png" alt="" class="img-responsive"></div>
        <div><p>NEW YORK</p></div>
        <div><p>409, City Tower 1, Sheikh Zayed Road, P. O. Box 118767.
Dubai, UAE
Contact No : +919967233337
Email: www.rakesh@gmail.com</p></div>
      </div>
    </div>
  </div>
  </div>
</section>

<!--history-->
<section>
  <div class="banner-about abt8">
    <div class="container">
    <h3 class="text-uppercase text-center statement">HISTORY OF GS</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the
industry's standard .</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</section>
