<!--title-->
<section>
  <div>
    <div class="container">
      <span>ABOUT GS WORLDWIDE ENTERTAINMENT COMPANY</span>
    </div>
  </div>
</section>

<!--data-->
<section>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
    </div>
  </div>
</section>

<!--our mission-->
<section>
  <div>
    <div class="conatainer">

    </div>
  </div>
</section>

<!--leadership-->
<section>
  <div>
    <div class="container">
      <div class="row">
        <h1>LEADERSHIP</h1>
        <div class="col-md-6">
          <div class="col-md-5"></div>
          <div class="col-md-7"></div>
        </div>
        <div class="col-md-6">
          <div class="col-md-5"></div>
          <div class="col-md-7"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--management team-->
<section>
  <div>
    <div class="container"></div>
    <div class="row">
      <h1>LEADERSHIP TEAM</h1>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>

<!--business-->
<section>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</section>

<!--global-->
<section>
  <div>
    <div class="container"></div>
  </div>
</section>

<!--history-->
<section>
  <div>
    <div class="container"></div>
  </div>
</section>
