<section>
    <div class="banner banner-asfc ab text-center">
        <img src="{{asfcInsidedata.description.image | uploadpath}}" class="" style="width:15%;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="content mt15 text-l" ng-bind-html="asfcInsidedata.description.content">
                        <!-- <p class="text-justify">
              All Star Football Club a team owned by Playing For Humanity and managed by GS Sports. The All Stars Football Club spearheaded by Bollywood icons Abhishek Bachchan (Captain), Ranbir Kapoor, Dino Morea, , Arjun Kapoor, Marc Robinson, Shabir Ahluwalia, Karan
              Wahi, Ameet Gaur, Aditya Roy Kapoor, Sachiin Joshi, Raj Kundra, Caesar Gonzales, Rohan Shreshtaother icons from the Entertainment and Sports industry. The main aim of the All Star Football Club is to collect money for charity while using
              the ever growing game of football in India as a platform to do so. This is in turn also helps promoting the sport Football in India. ASFC will bring Sports and entertainment together and demonstrate each other’s strengths by adding immense
              value to the business of brands.
            </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="playersasfc  mt180" ng-init="viewAll=false;">
        <div class="container">
            <div class="title-asfc">
                <h3 class="text-center color-red bold uppercase">
                    PLAYER LINE UP
                </h3>
            </div>
            <div class="row-flex">
                <div class="col-flex20" ng-repeat="data in asfcInsidedataplayer[0]">
                    <figure class="player-img">
                        <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive">
                        <figcaption class="ab uppercase">
                            {{data.name}}
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row-flex" ng-repeat="data1 in asfcInsidedataplayer" ng-if="$index>0 && viewAll==true">
                <div class="col-flex20" ng-repeat="data in data1">
                    <figure class="player-img">
                        <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive">
                        <figcaption class="ab uppercase">
                            {{data.name}}
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="btn-all text-center mt15 mb15">
                <!-- <button class="btn btn-outline" ng-click="ViewAllPlayers()" ng-disabled="mylen==mycount"> -->
                <button class="btn btn-outline" ng-click="viewAll=!viewAll" ng-hide="asfcInsidedataplayer.length<=1">
                    <span ng-if="!viewAll">View all</span>
                    <span ng-if="viewAll">View Less</span>
                </button>
            </div>
        </div>
    </div>
    <div class="bg-blue bg-grey-asfc pdasfc">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="title-asfc">
                    <h3 class="text-center color-red bold uppercase">
                        PREVIOUS GAMES HIGHLIGHTS
                    </h3>
                </div>
                <div class="row pd30" ng-repeat="data in asfcInsidedatadetail track by $index">
                    <div class="col-sm-6">
                        <div class="wedding-imagebox">
                            <img ng-src="{{data.image | uploadpath}}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wedding-detail">
                            <div class="asfc-title">
                                <h4 class="uppercase color-red bold">
                                    <!-- {{data.team1}} VS {{data.team2}} -->
                                    {{data.name}}
                                </h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="color-red">Date:</span>
                                        <span>{{data.date | date:"dd MMMM yyyy"}}</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="color-red">Location:</span>
                                        <span>{{data.location}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-detail mt15 mb15" ng-if="data.content != ''" ng-bind-html="data.content">
                                <!-- <p>
                  {{data.detail}}
                </p> -->
                            </div>
                            <div class="w-button">
                                <button class="btn btn-danger" ui-sref="asfcdetail({id:data.id})" ng-disabled="data.status=='2'" style="margin-top:5px;">Know More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-all text-center">
            <button class="btn btn-outline btn-grey" ng-click="seeMoreAsfcdata();" ng-if="seeMore">
            View All
          </button>
            <button class="btn btn-outline btn-grey" ng-click="seeLessAsfcdata();" ng-if="seeLess && !seeMore">
            View Less
          </button>
            <!-- <button class="btn btn-outline btn-grey" ng-click="ViewAll()" ng-disabled="lastpage==objPagination.pageno">
                View all
            </button> -->
        </div>
    </div>
    <div class="upcoming-game" ng-if="matchData != ''">
        <div class="title-asfc">
            <h3 class="text-center bold uppercase">
                UPCOMING GAME
            </h3>
        </div>
        <div class="bg-blue-asfc">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="team-logo text-center min-hgt">
                                <img ng-src="{{matchData.upcoming[0].logo1 | uploadpath}}" alt="" class="img-responsive">
                                <div class="date text-center color-white">
                                    <span>{{matchData.upcoming[0].date | date:"dd MMMM yyyy"}}</span>
                                </div>
                                <div class="btn-all mt15 mb15 text-center">
                                    <a href="{{matchData.upcoming[0].link}}">
                                        <button class="btn btn-primary" ng-disabled='!matchData.upcoming[0].link'>Buy Tickets</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="min-hgt color-white">
                                <div class="vs text-center">
                                    vs
                                </div>
                                <div class="stadium text-center color-white">
                                    <span>

                                          {{matchData.upcoming[0].stadium}}{{matchData.upcoming[0].location}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-logo text-center min-hgt">
                                <img ng-src="{{matchData.upcoming[0].logo2 | uploadpath}}" alt="" class="img-responsive">
                                <div class="date text-center color-white">
                                    <span>{{matchData.upcoming[0].time}}</span>
                                </div>
                                <div class="btn-all mt15 mb15 text-center">
                                    <button class="btn btn-primary" ng-disabled='true'>Add to Calendar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="upcoming-game">
    <div class="title-asfc">
      <h3 class="text-center bold uppercase">
      UPCOMING  GAME
    </h3>
    </div>
    <div class="bg-blue-asfc">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="row">
            <div class="col-sm-4">
              <div class="team-logo text-center min-hgt">
                <img src="img/ASFC/asfc.png" alt="" class="img-responsive">
                <div class="date text-center color-white">
                  <span>Jan 30</span>
                </div>
                <div class="btn-all mt15 mb15 text-center">
                  <button class="btn btn-primary">Buy Tickets</button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="min-hgt color-white">
                <div class="vs text-center">
                  vs
                </div>
                <div class="stadium text-center color-white">
                  <span>  DY Patil Stadium, Mumbai </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-logo text-center min-hgt">
                <img src="img/ASFC/dfc.png" alt="" class="img-responsive">
                <div class="date text-center color-white">
                  <span>20:00 (IST)</span>
                </div>
                <div class="btn-all mt15 mb15 text-center">
                  <button class="btn btn-primary">Add to Calender</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
    <!-- <div class="container bg-brown-asfc ">
    <div class="asfc-rl">
      <div class="prv-asfc">
        <img src="img/bg-line.jpg" alt="" class="img-responsive" />
      </div>
      <div class="row prv-game">
        <div class="col-sm-4">
          <div class="title text-center bold m40">
            PREVIOUS GAME
          </div>
        </div>
        <div class="col-sm-4">
          <div class="prv-team text-center">
            <img src="img/ASFC/fc.png" alt="" class="team-img1">
            <span>2 : 1</span>
            <img src="img/ASFC/dfc.png" alt="" class="team-img2">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="btn-all m40 mb15 text-center">
            <a href="#">View Scorecard</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

    <div class="container bg-brown-asfc ">
        <div class="asfc-rl">
            <div class="prv-asfc">
                <img ng-src="img/bg-line.jpg" alt="" class="img-responsive" />
            </div>
            <div class="row prv-game">
                <div class="col-sm-4">
                    <div class="title text-center bold m40">
                        PREVIOUS GAME
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="prv-team text-center">
                        <img ng-src="{{matchData.previous[0].logo1 | uploadpath}}" alt="" class="team-img1">
                        <span>{{matchData.previous[0].team1score}}
                            :
                            {{matchData.previous[0].team2score}}</span>
                        <img ng-src="{{matchData.previous[0].logo2 | uploadpath}}" alt="" class="team-img2">
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <div class="btn-all m40 mb15 text-center">
                        <a href="#">View Scorecard</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="magic-bus mt15 mb15">
            <div class="row">
                <div class="col-sm-5">
                    <div class="text-center img-asfc">
                        <span class="color-red bold">Preferred Charity Partner :</span>
                        <img src="img/ASFC/magicbuslogo.png" alt="" /></div>
                </div>
                <div class="col-sm-2">
                    <div class="text-center img-asfc-pft">
                        <img src="img/ASFC/pft.png" alt="" class="img-responsive" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="text-center img-asfc">
                        <span class="color-red bold">Kitting Partner :</span>
                        <img src="img/ASFC/nike.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-box-bg">
        <div class="section3">
            <div class="bg3">
                <div class="container">
                    <div class="client-speak" ng-repeat="data in asfcInsidedata.testimonial | limitTo : 1">
                        <div class="name-cont color-white">
                            <img src="img/inverted.png" alt="">
                            <!-- {{clientspeak}} -->
                            <!-- <span>Players Speak</span> -->
                            <span>{{data.name}}</span>
                        </div>
                        <div class="img-holder">
                            <img src="{{data.image | uploadpath}}" alt="" class="img-reponsive">
                        </div>
                        <div class="img-review color-white">
                            <h4>"{{data.quote}}"</h4>
                            <p>- {{data.author}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!--<div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center">
                        <h4 class="uppercase color-blue bold">Use
                            <a href="{{asfcInsidedata.description.hashtag}}" class="color-red" target="_blank">#ASFC</a> and get to view live feed of everyone,<br> including yours, right here!</h4>
                    </div>
                </div>
            </div>-->
            <!-- <div class="social">
                <section class="marg-section">
                    <div class="social-back ">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-4" ng-if="asfcInsidedata.description.facebook">
                                    <div class="social-box text-center">
                                        <img src="img/socials/facebook.png" class="doneLoading">
                                    </div>
                                    <div class="social-logo text-center">
                                        <div class="feed-social mt30">
                                            <div class="fb-page" data-href="{{asfcInsidedata.description.facebook}}" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                <div class="fb-xfbml-parse-ignore">
                                                    <blockquote cite="https://www.facebook.com/GSWorldwideEnt/">
                                                        <a href="https://www.facebook.com/GSWorldwideEnt/">GS Worldwide Entertainment.</a>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4" ng-if="asfcInsidedata.description.twitter">
                                    <div class="social-box text-center">
                                        <img src="img/socials/twitter.png" class="doneLoading">
                                    </div>
                                    <div class="social-logo text-center ">
                                        <a class="twitter-timeline" href="{{asfcInsidedata.description.twitter}}" data-widget-id="716880459599228928">Tweets by @GSWorldwideEnt</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4" ng-if="asfcInsidedata.description.instagram">
                                    <div class="social-box text-center">
                                        <img src="img/socials/instagram.png" class="doneLoading">
                                    </div>
                                    <div class="social-logo text-center ">
                                        <img src="img/instagram.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> -->
            <div class="social">
                <!-- <div ng-include = "'/social.html'"></div> -->
                <section class="marg-section">
                    <div class="social-back ">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="social-box text-center">
                                        <img src="img/socials/facebook.png" class="doneLoading">
                                    </div>
                                    <div class="social-logo text-center">
                                        <div class="feed-social mt30">
                                            <div class="fb-page" data-href="https://www.facebook.com/GSWorldwideEnt/" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                <div class="fb-xfbml-parse-ignore">
                                                    <blockquote cite="https://www.facebook.com/GSWorldwideEnt/">
                                                        <a href="https://www.facebook.com/GSWorldwideEnt/">GS Worldwide Entertainment.</a>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="social-box text-center">
                                        <img src="img/socials/twitter.png" class="doneLoading">
                                    </div>
                                    <div class="social-logo text-center ">
                                        <a class="twitter-timeline" href="https://twitter.com/GSWorldwideEnt" data-widget-id="716880459599228928">Tweets by @GSWorldwideEnt</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="social-box text-center">
                                        <img src="img/socials/instagram.png" class="doneLoading">
                                    </div>
                                    <div class="social-logo text-center ">
                                        <iframe src="//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html" id="lightwidget_2965b73338" name="lightwidget_2965b73338" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; height:480px;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <!--<div class="download">
            <div class="containter">
                <div class="text-center">
                    <div class="imac ab">
                        <img src="img/ASFC/imac.jpg" alt="img-responsive">
                    </div>
                    <p>Visit us @
                        <a href="#" traget="_blank">www.asfc.com</a>
                    </p>
                </div>
            </div>
        </div>-->
    </div>
    <div class="mr30">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="get-in-touch" ng-hide="showThanks">
                        <h3 class="color-red uppercase bold">GET IN TOUCH</h3>
                        <form name="asfc">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" ng-model="formData.firstname" name="firstname" class="form-control" id="exampleInputEmail1" placeholder="First Name" required>
                                        <div class="error-msg" ng-show="asfc.firstname.$error.required && asfc.firstname.$touched">Please Enter Your First Name.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" ng-model="formData.lastname" name="lastname" class="form-control" id="exampleInputEmail1" placeholder="Last Name" required>
                                        <div class="error-msg" ng-show="asfc.lastname.$error.required && asfc.lastname.$touched">Please Enter Your Last Name.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" ng-model="formData.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
                                        <div class="error-msg" ng-show="asfc.email.$error.required && asfc.email.$touched">Please Enter Your Email.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="tel" ng-model="formData.phone" name="phone" class="form-control" id="exampleInputEmail1" maxlength="13" placeholder="Phone number" required>
                                        <div class="error-msg" ng-show="asfc.phone.$error.required && asfc.phone.$touched">Please Enter Phone number.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="enq-list">
                                            <label class="checkbox-inline text-label" style="padding-left:0;margin-top:-6px;">
                                                <span class="color-red">Enquiring for
                                                </span>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="production" value="" ng-click="pushorpop('bookTeam')">
                                                <label for="production">
                                                    <span></span>
                                                    Book the team</label>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="distribution" value="" ng-click="pushorpop('partner')">
                                                <label for="distribution">
                                                    <span></span>
                                                    Become a partner</label>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="casting" value="" ng-click="pushorpop('sponsor')">
                                                <label for="casting">
                                                    <span></span>
                                                    Become a sponsor</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control" ng-model="formData.comment" name="comment" rows="3" placeholder="Say Something" required="required"></textarea>
                                    <div class="error-msg" ng-show="asfc.comment.$error.required && asfc.comment.$touched">Enter Something</div>
                                    <div class="submit-btn btn-all text-center mt15">
                                        <button class="btn btn-danger" type="button" name="button" ng-class="{'disabled' : !asfc.$valid }" ng-click="asfcSubmitForm(asfc)">submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="get-in-touch text-center" ng-show="showThanks">
                        <h5 class="color-red uppercase bold">Thank You ! Your enquiry has been submitted. We will get back to you soon.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>