<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="head-banner diaries-banner text-center">
                    <img src="img/blog/banner.png" class="img-responsive" title="Blogvideo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="bg-grey-diaries pd70"> -->
<section class="bg-blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="bthead">
                    <h3 class="text-uppercase">JPP SEASON 1 MATCH highlight</h3>
                    <p class="date-time">12th January 2016&nbsp;<span>|</span>&nbsp;&nbsp;08.30pm</p>
                </div>
                <div class="nimage">
                    <div class="videolink">
                        <img src="img/blog/video/v.png" alt="No Image Found." class="img-responsive">
                    </div>
                    <a href=""><i class="fa fa-play"></i></a>
                    <div class="row">
                      <div class="col-md-10">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                      <div class="col-md-2">
                          <span> 2 of 10</span>
                      </div>
                    </div>
                </div>
                <div class="btn-alls mr12">
                    <button class="btn btn-danger btn-outlines">
                        Previous
                    </button>
                    <button class="btn btn-danger btn-outlines pull-right">
                        Next
                    </button>
                </div>
                <div class="many-images">
                    <p class="text-uppercase">Other videos</p>
                    <div class="row">
                    <div class="toomany" ng-repeat="data in images">
                        <div class="col-md-3">
                          <div class="blog-image">
                            <img src="{{data.img}}" alt="No Images" class="img-responsive" />
                          </div>
                          <a href=""><i class="fa fa-play"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="share">
                    <h4 class="text-uppercase">share it on</h4>
                    <span class="social-share">
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-envelope-o"></i></a>
                </span>
                </div>
                <div class="bgcomment">
                    <div class="comment-box">
                        <p>comments . <span>12<span></p>
                    <div class="row">
                      <div class="col-md-2">
                        <div class="profilephoto">
                          <img src="img/blog/text/p1.png" alt="No Profile Photo Found." class="img-responsive">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <textarea name="name" class="form-control"></textarea>
                      </div>
                    </div>
                    <hr>
                  </div>
                    <div class="comments" ng-repeat="data in commentlist track by $index">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="profilephoto">
                            <img ng-src="{{data.img}}" alt="" class="img-responsive">
                          </div>
                        </div>
                        <div class="col-md-10">
                          <div class="commented">
                            <p>{{data.name}}</p>
                            <span>{{data.time}}&nbsp;ago</span>
                            <div class="paras">
                                <p>{{data.desc}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="text-center wed-boxs blog-side-diaries border-red">
            <div class="title-subtitle">
                <h4 class="uppercase color-red bold letter-spacing">CATEGORIES</h4>
            </div>
            <ul class="list-unstyled">
                <li><a href="" class="uppercase">MOVIES</a></li>
                <li><a href="" class="uppercase">WEDDINGS</a></li>
                <li><a href="" class="uppercase">SPORTS</a></li>
                <li><a href="" class="uppercase">EVENTS</a></li>
                <li><a href="" class="uppercase">TALENT</a></li>
                <li><a href="" class="uppercase">MICE</a></li>
                <li><a href="" class="uppercase">WORLD TOUR</a></li>
                <li><a href="" class="uppercase">NEWS</a></li>
                <li><a href="" class="uppercase">PHOTOS</a></li>
                <li><a href="" class="uppercase">VIDEOS</a></li>
            </ul>
            <div class="border-blue bborders"></div>
        </div>
        <div class="text-center wed-boxs border-red blog-side-diaries">
            <div class="title-subtitle">
                <h4 class="uppercase color-red bold letter-spacing">ARCHIVES</h4>
            </div>
            <ul class="list-unstyled">
                <li><a href="" class="uppercase">March 2016</a></li>
                <li><a href="" class="uppercase">February 2016</a></li>
                <li><a href="" class="uppercase">January 2016</a></li>
                <li><a href="" class="uppercase">DECEmber 2015</a></li>
                <li><a href="" class="uppercase">november 2015</a></li>
            </ul>
            <div class="btn-all text-center mb15">
                <button class="btn btn-danger btn-outline">
                    View all
                </button>
            </div>
            <div class="border-blue bborders"></div>
        </div>
        <div class="text-center">
            <div class="article">
                <div class="article-title">
                    <h4 class="uppercase color-red">RELATED ARTICLES</h4>
                </div>
            </div>
        </div>
        <div class="related" ng-repeat="data in blogvideo track by $index">
            <div class="wed-box border-red">
                <div class="wed-img-list">
                    <img ng-src="{{data.img}}" alt="" class="img-responsive">
                    <div class="red-ribbon">
                        <img src="img/ribbon_red.png" alt="">
                        <span class="color-white uppercase">Sports</span>
                    </div>
                </div>
                <div class="blog-desc">
                    <div class="wed-desc-inside">
                        <p class="bold">{{data.desc}}</p>
                    </div>
                    <div class="wed-date">
                        <span>{{data.date}}</span>
                    </div>
                    <div class="read-more">
                        <a href="" class="color-black">Read More</a>
                    </div>
                </div>
                <div class="border-blue bborders"></div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
