<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner diaries-banner text-center">
          <img src="img/dairies/banner.png" class="img-responsive" title="Dairies">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-grey-diaries pd70">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <!-- <div class="dairies-box pd-side mb15">
          <div class="row">
            <div class="col-sm-12">
              <div class="wed-box box-big border-red pdnone mb30">
                <div class="wed-img-list">
                  <img ng-src="{{diariesfull1.img}}" alt="" class="img-responsive">
                  <div class="ribbon-red">
                    <img src="img/ribbon_red.png" alt="">
                    <span class="color-white uppercase">{{diariesfull1.name}}</span>
                  </div>
                </div>
                <div class="wed-desc">
                  <div class="wed-desc-inside">
                    <p class="bold">{{diariesfull1.desc}}</p>
                  </div>
                  <div class="read-more pull-right mtb5">
                    <a href="" class="color-black bold">Read More</a>
                  </div>
                  <div class="wed-date">
                    <span>{{diariesfull1.date}}</span>
                  </div>
                </div>
                <div class="border-blue borders"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6" ng-repeat="data in diaries track by $index">
              <div class="wed-box border-red pdnone mb15">
                <div class="wed-img-list">
                  <img ng-src="{{data.img}}" alt="" class="img-responsive">
                  <div class="ribbon-red">
                    <img src="img/ribbon_red.png" alt="">
                    <span class="color-white uppercase">{{data.name}}</span>
                  </div>
                </div>
                <div class="wed-desc">
                  <div class="wed-desc-inside">
                    <p class="bold">{{data.desc}}</p>
                  </div>
                  <div class="read-more pull-right mtb5">
                    <a href="" class="color-black bold">Read More</a>
                  </div>
                  <div class="wed-date">
                    <span>{{diariesfull1.date}}</span>
                  </div>
                </div>
                <div class="border-blue borders"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="wed-box border-red box-big mb15 pdnone">
                <div class="wed-img-list">
                  <img ng-src="{{diariesfull2.img}}" alt="" class="img-responsive">
                  <div class="ribbon-red">
                    <img src="img/ribbon_red.png" alt="">
                    <span class="color-white uppercase">{{diariesfull2.name}}</span>
                  </div>
                </div>
                <div class="wed-desc">
                  <div class="wed-desc-inside">
                    <p class="bold">{{diariesfull2.desc}}</p>
                  </div>
                  <div class="read-more pull-right mtb5">
                    <a href="" class="color-black bold">Read More</a>
                  </div>
                  <div class="wed-date">
                    <span>{{diariesfull1.date}}</span>
                  </div>
                </div>
                <div class="border-blue borders"></div>
              </div>
            </div>
          </div>
          <div class="btn-all mr30">
            <button class="btn btn-danger btn-outline">
              Prev
            </button>
            <button class="btn btn-danger btn-outline pull-right">
              Next
            </button>
          </div>
        </div> -->
      </div>
      <div class="col-md-3">
        <div class="text-center wed-box box-side-diaries border-red">
          <div class="title-subtitle">
            <h4 class="uppercase color-red bold letter-spacing">CATEGORIES</h4>
          </div>
          <ul class="list-unstyled">
            <li><a href="" class="uppercase">MOVIES</a></li>
            <li><a href="" class="uppercase">WEDDINGS</a></li>
            <li><a href="" class="uppercase">SPORTS</a></li>
            <li><a href="" class="uppercase">EVENTS</a></li>
            <li><a href="" class="uppercase">TALENT</a></li>
            <li><a href="" class="uppercase">MICE</a></li>
            <li><a href="" class="uppercase">WORLD TOUR</a></li>
            <li><a href="" class="uppercase">NEWS</a></li>
            <li><a href="" class="uppercase">PHOTOS</a></li>
            <li><a href="" class="uppercase">VIDEOS</a></li>
          </ul>
          <div class="border-blue borders"></div>
        </div>
        <div class="text-center wed-box border-red box-side-diaries">
          <div class="title-subtitle">
            <h4 class="uppercase color-red bold letter-spacing">ARCHIVES</h4>
          </div>
          <ul class="list-unstyled">
            <li><a href="" class="uppercase">March 2016</a></li>
            <li><a href="" class="uppercase">February 2016</a></li>
            <li><a href="" class="uppercase">January 2016</a></li>
            <li><a href="" class="uppercase">DECEmber 2015</a></li>
            <li><a href="" class="uppercase">november 2015</a></li>
          </ul>
          <div class="btn-all text-center mb15">
            <button class="btn btn-danger btn-outline">
              View all
            </button>
          </div>
          <div class="border-blue borders"></div>
        </div>
      </div>
    </div>
  </div>
</section>
