<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="head-banner diaries-banner text-center">
                    <img src="img/blog/banner.png" class="img-responsive" title="Blogvideo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="bg-grey-diaries pd70"> -->
<section class="bg-blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="bthead">
                    <div class="pull-left">
                        <h3 class="text-uppercase">{{blogVideoData.description.name}}</h3>
                        <!--<p class="date-time">{{mydate | date : " d MMMM y '|' h:mm a"}}</p>-->
                        <p class="date-time"  ui-sref="gsdiaries({id:blogVideoData.description.authorid})">By {{blogVideoData.description.authorname}} | {{blogVideoData.description.date | date : " d MMMM y"}}</p>
                    </div>
                    <div class="pull-right">
                        <span class="social-share">
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_email_large' displayText='Email'></span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="nimage">
                    <div class="videolink">
                        <img ng-src="{{bigVideo.url | youtubethumb:false}}" alt="" class="img-responsive imgvideo">
                        <a fancybox-box href="http://www.youtube.com/embed/{{data.url | youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="movies" data-fancybox-type="iframe" rel="fancybox-button">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>

                    <div class="row">
                        <!-- <div class="videolink">
                        <img src="{{data.image | uploadpath}}" alt="No Image Found." class="img-responsive">
                    </div>
                    <a href=""><i class="fa fa-play"></i></a>
                    <div class="row">
                      <div class="col-md-10" ng-bind-html="data.content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div> -->
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <span> {{activeVideo+1}} of {{blogVideoData.video.length}}</span>
                        </div>
                    </div>
                </div>
                <div class="btn-alls mr12">
                    <button class="btn btn-danger btn-outlines" ng-click="previousVideo()" ng-disabled="activeVideo==0">
                        Previous
                    </button>
                    <button class="btn btn-danger btn-outlines pull-right" ng-click="nextVideo()" ng-disabled="bigVideo.id==lastrecord.id">
                        Next
                    </button>
                </div>
                <div class="many-images">
                    <p class="text-uppercase">Other videos</p>
                    <div class="row">
                        <div class="toomany" ng-repeat="data in blogVideoData.video track by $index" ng-if="$index>0" ng-click="makeActive(data,$index)">
                            <div class="col-md-3">
                                <div class="blog-image">
                                    <img ng-src="{{data.url | youtubethumb:false}}" alt="No Images" class="img-responsive" />
                                </div>
                                <a href=""><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="share">
                    <h4 class="text-uppercase">share it on</h4>
                    <span class="social-share">
                      <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_email_large' displayText='Email'></span>
                    <!-- <a href="" ng-click="socialLogin('Facebook')"><i class="fa fa-facebook"></i></a>
                  <a href="" ng-click="socialLogin('Twitter')"><i class="fa fa-twitter"></i></a>
                  <a href="" ng-click="socialLogin('Google')"><i class="fa fa-envelope-o"></i></a> -->
                    </span>
                    <p ng-if="blogCommentData.value==false">Please login to comment</p>
                </div>
                <div class="bgcomment">
                    <div class="comment-box">
                        <p>comments . <span>{{blogVideoData.comments.length}} </span></p>
                        <div class="row" ng-hide="blogCommentData.value==false">
                            <form name="comment">
                                <div class="col-md-2">
                                    <div class="profilephoto">
                                        <img ng-src="{{blogCommentData.image}}" alt="No Profile Photo Found." class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <textarea name="name" ng-model="blogCommentData.comment" class="form-control" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit-btn btn-all text-right mt15">
                                        <button class="btn btn-danger" type="button" name="button" ng-class="{'disabled' : !comment.$valid }" ng-click="comment.$valid && commentSubmit(blogCommentData)" style="">submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr>
                    </div>
                    <div class="comments" ng-repeat="data in blogVideoData.comments track by $index">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profilephoto">
                                    <img ng-src="{{data.image}}" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="commented">
                                    <p>{{data.name}}</p>
                                    <span>{{data.timestamp | timeago}}</span>
                                    <div class="paras">
                                        <p>{{data.comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center wed-boxs blog-side-diaries border-red">
                    <div class="title-subtitle">
                        <h4 class="uppercase color-red bold letter-spacing">CATEGORIES</h4>
                    </div>
                    <ul class="list-unstyled">
                        <li><a href="" class="uppercase" ng-repeat="cat in diaryData.category" ui-sref="diaries({category:cat.id})">{{cat.name}}</a></li>
                        <!-- <li><a href="" class="uppercase">WEDDINGS</a></li>
                <li><a href="" class="uppercase">SPORTS</a></li>
                <li><a href="" class="uppercase">EVENTS</a></li>
                <li><a href="" class="uppercase">TALENT</a></li>
                <li><a href="" class="uppercase">MICE</a></li>
                <li><a href="" class="uppercase">WORLD TOUR</a></li>
                <li><a href="" class="uppercase">NEWS</a></li>
                <li><a href="" class="uppercase">PHOTOS</a></li>
                <li><a href="" class="uppercase">VIDEOS</a></li> -->
                    </ul>
                    <div class="border-blue bborders bb6"></div>
                </div>
                <!-- <div class="text-center wed-boxs border-red blog-side-diaries">
            <div class="title-subtitle">
                <h4 class="uppercase color-red bold letter-spacing">ARCHIVES</h4>
            </div>
            <ul class="list-unstyled">
                <li><a href="" class="uppercase">March 2016</a></li>
                <li><a href="" class="uppercase">February 2016</a></li>
                <li><a href="" class="uppercase">January 2016</a></li>
                <li><a href="" class="uppercase">DECEmber 2015</a></li>
                <li><a href="" class="uppercase">november 2015</a></li>
            </ul>
            <div class="btn-all text-center mb15">
                <button class="btn btn-danger btn-outline">
                    View all
                </button>
            </div>
            <div class="border-blue bborders"></div>
        </div> -->
                <div class="text-center">
                    <div class="article">
                        <div class="article-title">
                            <h4 class="uppercase color-red">RELATED ARTICLES</h4>
                        </div>
                    </div>
                </div>
                <div class="related" ng-repeat="data in blogVideoData.relatedarticles track by $index">
                    <div class="wed-box border-red">
                        <div class="wed-img-list blog-img-list">
                            <img ng-src="{{data.image|uploadpath}}" alt="" class="img-responsive">
                            <div class="red-ribbon">
                                <img src="img/ribbon_red.png" alt="">
                                <span class="color-white uppercase">{{data.categoryname}}</span>
                            </div>
                        </div>
                        <div class="blog-desc">
                          <div class="wed-desc-inside content-bold" ng-bind-html="data.content |shorten:30">

                          </div>
                            <!-- <div class="wed-desc-inside">
                                <p class="bold text-uppercase">{{data.name}}</p>
                            </div> -->
                            <div class="wed-date" ng-if="data.date!='0000-00-00'">
                                <span>{{data.date | date:"dd MMMM yyyy"}}</span>
                            </div>
                            <div class="read-more">
                                <a href="" class="color-black" ng-click="readMore(data);">Read More</a>
                            </div>
                        </div>
                        <div class="border-blue bborders"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
