<section class="career">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="head-banner text-center">
                    <img src="img/career/career.png" alt="Careers" class="img-responsive" title="Career">
                </div>
            </div>
        </div>
    </div>
    <div class="contact-fant-desc">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h2>Be a part of the madness!</h2>
                    <span>Get in touch and work with us at GS Entertainment.</span>
                    <p>We make sure every day at work is a party! There are tons of events, activities, wedding, and sporting events that we handle.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="careervision">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="stats">
              <div class="cimage">
                <img src="img/career/dia.jpg" alt="">
              </div>
              <h4>Meaningfull Work</h4>
              <p class="text-center">We enjoy working on products that solve real problems. We've built products for communication, travel, biotecnology, fashion and more.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="stats">
            <div class="cimage">
              <img src="img/career/heart.png" alt="">
            </div>
            <h4>Passion + Drive</h4>
            <p class="text-center">We love what we do. We wake up every morning full of passion and pride, and show up every day because we know we can make a difference.</p>
          </div>
          </div>
          <div class="col-md-4">
            <div class="stats">
            <div class="cimage">
              <img src="img/career/comp.png" alt="">
            </div>
            <h4>Amazing Growth</h4>
            <p>In two years, we've grown over 3 continents and gone from 1 employee to 50+. We are Goan, British, Canadian and French. We're just getting started.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h3>Job ALert!</h3>
            <p>If you've got the energy and passion - we've got a vacancy.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="jobvacancy">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="vacancy">
              <h4>Executive Producer</h4>
              <div class="inl">
                <span class="blue">Number of positions:</span>&nbsp;
                <span> 3</span>
              </div>
              <div class="inl">
                <span class="blue">Educational Qualification:</span>&nbsp;
                <span> Graduate / Master / MBA</span>
              </div>
              <!-- <div class="inlblo">
                <p>Number of positions:</p>
                <p>Educational Qualification:</p>
              </div>
              <div class="inlblo">
                <p>3</p>
                <p>Graduate / Master / MBA</p>
            </div> -->
          </div>
        </div>
          <div class="col-md-4">
            <div class="vacancy">
              <h4>Production AD's</h4>
              <div class="inl">
                <span class="blue">Number of positions:</span>&nbsp;
                <span> 4</span>
              </div>
              <div class="inl">
                <span class="blue">Educational Qualification:</span>&nbsp;
                <span> A Bachelor / Graduate preferably with a Filmmaking qualification.</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="vacancy">
              <h4>Events Managers</h4>
              <div class="inl">
                <span class="blue">Number of positions:</span>&nbsp;
                <span> 6</span>
              </div>
              <div class="inl">
                <span class="blue">Educational Qualification:</span>&nbsp;
                <span> A Bachelor / Master Degree / Diploma in Events Management.</span>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!-- <div class="row"> -->
          <div class="col-md-4">
            <div class="vacancy">
              <h4>Graphic Design</h4>
              <div class="inl">
                <span class="blue">Number of positions:</span>&nbsp;
                <span> 2</span>
              </div>
              <div class="inl">
                <span class="blue">Educational Qualification:</span>&nbsp;
                <span> A Bachelor / Master Degree in Commercial / Fine Arts.</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="vacancy">
              <h4>ASSISTANT MANAGER - MICE TRAVEL</h4>
              <div class="inl">
                <span class="blue">Number of positions:</span>&nbsp;
                <span> 2</span>
              </div>
              <div class="inl">
                <span class="blue">Educational Qualification:</span>&nbsp;
                <span> Graduate preferably with a Hospitality or Travel qualification.</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="vacancy">
              <h4>3D MODELER / VISUALISER</h4>
              <div class="inl">
                <span class="blue">Number of positions:</span>&nbsp;
                <span> 2</span>
              </div>
              <div class="inl">
                <span class="blue">Educational Qualification:</span>&nbsp;
                <span> Graduate Post Graduate / Diploma in Design.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="apply text-center">
      <h3>An opportunity awaits you.&nbsp;&nbsp;<a ui-sref="careerform">Click here</a> to apply and earn it.</h3>
    </div>
    <div class="cimage1">
      <img src="img/career/collage.jpg" alt="">
      <div class="parag">
<p class="pblue">Life <span>@</span> GS</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
      </div>
    </div>
</section>
