<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="head-banner text-center">
                    <img src="img/career/career.png" alt="Careers" class="img-responsive" title="Career">
                </div>
            </div>
        </div>
    </div>
    <div class="jobform">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label for="job" class="text-uppercase jobcat control-label">Job categories</label>
                            <!-- <div class="col-md-9"> -->
                            <div class="custom-select">
                              <select class="form-control" name="" id="job">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                              </select>
                            </div>
                          </div>
                            <!-- </div> -->
                        </div>
                        <div class="form-group">
                            <h4 class="text-uppercase control-label">Personal Details</h4>
                        </div>
                        <div class="form-group">
                            <label for="fullname" class="col-md-2 control-label">Resume/CV <span>*</span></label>
                            <div class="col-md-10">
                               <div class="attach">
                                 <button class="btn btn-danger"type="button" name="button"><i class="fa fa-paperclip"></i>Attach Resume</button>
                               </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullname" class="col-md-2 control-label">Full Name <span>*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" id="fullname" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-md-2 control-label">Address <span>*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-md-2 control-label">Phone <span>*</span></label>
                            <div class="col-md-10">
                                <input type="tel" name="name" class="form-control" id="phone" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="suburban" class="col-md-2 control-label">Suburb <span>*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" id="suburban" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state" class="col-md-2 control-label">State <span>*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" id="state" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postalcode" class="col-md-2 control-label">Post Code <span>*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" id="postalcode" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dob" class="col-md-2 control-label">Date of birth <span>*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail" class="col-md-2 control-label">Email id <span>*</span></label>
                            <div class="col-md-10">
                                <input type="email" name="name" class="form-control" id="mail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="text-uppercase control-label">Links</h4>
                        </div>
                        <div class="form-group">
                            <label for="linkedin" class="col-md-2 control-label">LinkedIn URL</label>
                            <div class="col-md-10">
                                <input type="url" name="name" class="form-control" id="linkedin">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="twitter" class="col-md-2 control-label">Twitter URL</label>
                            <div class="col-md-10">
                                <input type="url" name="name" class="form-control" id="twitter">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="github" class="col-md-2 control-label">GitHub URL</label>
                            <div class="col-md-10">
                                <input type="url" name="name" class="form-control" id="github">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="portfolio" class="col-md-2 control-label">Portfolio URL</label>
                            <div class="col-md-10">
                                <input type="url" name="name" class="form-control" id="portfolio">
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="other" class="col-md-2 control-label">Other website</label>
                          <div class="col-md-10">
                            <input type="url" name="name" class="form-control" id="other">
                          </div>
                        </div>
                        <div class="form-group">
                            <h4 class="text-uppercase control-label">Availability</h4>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>
                              What type of position are you seeking?
                            </label>
                            <div class="checkbox">
                              <label class="checkbox-inline">
                                <input type="checkbox" id="checkbox1" value="ambassador">
                                <label for="checkbox1"><span></span>Part time</label>
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="checkbox2" value="representation">
                                <label for="checkbox2"><span></span>Full time</label>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="salary" class="col-md-2 control-label">Previous Salary</label>
                          <div class="col-md-10">
                            <input type="text" name="name" class="form-control" id="salary" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="ctc" class="col-md-2 control-label">Expected CTC</label>
                          <div class="col-md-10">
                            <input type="text" name="name" class="form-control" id="ctc" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <p class="text-justify">I certify that this information is accurate and complete. Giving incomplete or false information in an application for employment is a serious matter and is grounds for dismissal. I hereby acknowledge notification that GS entertainment may request information regarding my character, general reputation or mode for living. We assure you the information won’t be shared with a third party without your consent.</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="submit-btn btn-all text-center mt15">
                            <button class="btn btn-danger" type="button" name="button">Submit Application</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
