<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner text-center">
          <img src="img/client/client.png" class="img-responsive" title="Weddings">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="wedding-fant-desc mt50" ng-bind-html="getClientdata.description.content">
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cupiditate laboriosam qui laborum atque, impedit sapiente minima sequi non voluptas assumenda saepe id quo, eos, ducimus consequuntur excepturi doloribus, fuga. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Ea cupiditate laboriosam qui laborum atque, impedit sapiente minima sequi non voluptas assumenda saepe id quo, eos, ducimus consequuntur excepturi doloribus, fuga. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ea cupiditate laboriosam qui laborum atque, impedit sapiente minima sequi non voluptas assumenda saepe id quo, eos, ducimus consequuntur excepturi doloribus, fuga.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="mt50 plr100 client-img">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="data in getClientdata.logos">
        <img ng-src="{{data.image | uploadpath}}" alt="{{data.alt}}" class="img-responsive">
      </div>
      <!-- <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="data in clientimage">
        <img src="{{data.img}}" alt="{{data.alt}}" class="img-responsive">
      </div> -->
    </div>
    <div class="btn-all mr30 text-center">
      <button class="btn btn-danger btn-outline">
        View All
      </button>
    </div>
  </div>
  <div class="resources mt45">
    <div class="row-flex">
      <div class="col-flex">
        <img src="{{getClientDetaildata[0].banner | uploadpath}}" alt="" class="img-responsive">
      </div>
      <div class="col-flex">
        <div class="rl data-up">
          <div class="red-img">
          <img src="img/client/red.jpg" class="img-responsive doneLoading">
          </div>
          <div class="text-cont">
            <h4>{{getClientDetaildata[0].title}}</h4>
            <p>
            {{getClientDetaildata[0].content}}
            </p>
            <div class="btn-all mb15 text-right">
            <a href="{{getClientDetaildata[0].url}}">  <button class="btn btn-danger btn-ouline">
                View All
              </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-client">
    <div class="row-flex">
      <div class="col-flex25" ng-repeat="data in getClientDetaildata track by $index" ng-if="$index>0" ng-click="makeActive(data,$index)">
        <div class="box-clients">
          <div class="box-clients-inside">
            <img src="{{data.image | uploadpath}}" alt="{{data.title}}" class="img-responsive">
          </div>
          <div class="client-caption">
            {{data.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social client-social">
    <!-- <div ng-include = "'/social.html'"></div> -->
    <section class="marg-section">
      <div class="social-back">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="social-box text-center">
                <img src="img/socials/facebook.png" class="doneLoading">
              </div>
              <div class="social-logo text-center">
                <div class="feed-social mt30">
                  <div class="fb-page" data-href="https://www.facebook.com/GSWorldwideEnt/" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                      <blockquote cite="https://www.facebook.com/GSWorldwideEnt/">
                        <a href="https://www.facebook.com/GSWorldwideEnt/">GS Worldwide Entertainment.</a></blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="social-box text-center">
                <img src="img/socials/twitter.png" class="doneLoading">
              </div>
              <div class="social-logo text-center ">
                <a class="twitter-timeline" href="https://twitter.com/GSWorldwideEnt" data-widget-id="716880459599228928">Tweets by @GSWorldwideEnt</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="social-box text-center">
                <img src="img/socials/instagram.png" class="doneLoading">
              </div>
              <div class="social-logo text-center ">
                <iframe src="//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html" id="lightwidget_2965b73338" name="lightwidget_2965b73338" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; height:480px;"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
