<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner diaries-banner text-center">
          <img src="img/dairies/banner.png" class="img-responsive" title="Dairies">
        </div>
      </div>
    </div>
  </div>
  <div class="wedding-fant-desc">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8" ng-bind-html="diaryData.description.content"></div>
      </div>
    </div>
  </div>
</section>
<section class="bg-grey-diaries pd70" ng-hide="filterdata">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="dairies-box pd-side mb15">
          <div class="row">
            <div class="col-xs-6 col-sm-6" ng-repeat="wedData in DiaryInsideData.queryresult">
              <div class="wed-box box-big border-red pdnone mb30">
                <div class="wed-img-list event-img-list diary-img-list">
                  <img ng-src="{{wedData.image | uploadpath}}" alt="" class="img-responsive image-size">
                  <div class="ribbon-red">
                    <img src="img/ribbon_red.png" alt="">
                    <span class="color-white uppercase">{{wedData.categoryname}}</span>
                  </div>
                </div>
                <div class="wed-desc wed">
                  <div class="wed-desc-inside" ng-bind-html="wedData.content">
                    <!-- <p class="bold">{{wedData.content}}</p> -->
                  </div>
                  <div class="wed-date mar0 clearfix wedd">
                    <a ><span>By {{wedData.authorname}}</span></a>
                    <div class="wed-date mar0 pull-right">
                      <span>Views:</span>
                      <span>{{wedData.views}}</span>
                    </div>
                  </div>
                  <div class="read-more pull-right" ng-if="wedData.type==1">
                    <a class="color-black" ui-sref="blogtext({id:wedData.id})">Read More</a>
                  </div>
                  <div class="read-more pull-right" ng-if="wedData.type==2">
                    <a class="color-black" ui-sref="blogimage({id:wedData.id})">Read More</a>
                  </div>
                  <div class="read-more pull-right" ng-if="wedData.type==3">
                    <a class="color-black" ui-sref="blogvideo({id:wedData.id})">Read More</a>
                  </div>
                  <div class="wed-date mar0">
                    <span>{{wedData.date |date:'d MMMM y'}}</span>
                  </div>
                </div>
                <div class="border-blue borders"></div>
              </div>
            </div>
          </div>
          <div class="btn-all mr30">
            <button class="btn btn-danger btn-outline" ng-click="changeDiary(-1);" ng-disabled="DiaryInsideData.pageno==1">
              Prev
            </button>
            <button class="btn btn-danger btn-outline pull-right" ng-click="changeDiary(1);" ng-disabled="DiaryInsideData.pageno==DiaryInsideData.lastpage">
              <!-- <button class="btn btn-danger btn-outline pull-right" ng-click="next();"> -->
              Next
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="text-center wed-box box-side-diaries border-red">
          <div class="title-subtitle">
            <h4 class="uppercase color-red bold letter-spacing">CATEGORIES</h4>
          </div>
          <ul class="list-unstyled">
            <li><a class="uppercase" ui-sref="diaries({category:''})">Home</a></li>
            <li><a href="" class="uppercase" ng-repeat="cat in diaryData.category" ui-sref="diaries({category:cat.id})">{{cat.name}}</a></li>
            <!-- <li><a href="" class="uppercase">WEDDINGS</a></li>
            <li><a href="" class="uppercase">SPORTS</a></li>
            <li><a href="" class="uppercase">EVENTS</a></li>
            <li><a href="" class="uppercase">TALENT</a></li>
            <li><a href="" class="uppercase">MICE</a></li>
            <li><a href="" class="uppercase">WORLD TOUR</a></li>
            <li><a href="" class="uppercase">NEWS</a></li>
            <li><a href="" class="uppercase">PHOTOS</a></li>
            <li><a href="" class="uppercase">VIDEOS</a></li> -->
          </ul>
          <div class="border-blue borders"></div>
        </div>
        <!-- <div class="text-center wed-box border-red box-side-diaries" ng-init="viewAll=false;">
                    <div class="title-subtitle">
                        <h4 class="uppercase color-red bold letter-spacing">ARCHIVES</h4>
                    </div>
                    <ul class="list-unstyled">
                        <li><a href="" class="uppercase" ng-repeat="date in diaryyear1[0]" ng-click="filteByYear(date);">{{date.month}} {{date.year}}</a></li>
                    </ul>
                    <ul class="list-unstyled" ng-repeat="data1 in diaryyear1" ng-if="$index>0 && viewAll==true">
                        <li><a href="" class="uppercase" ng-repeat="date in data1" ng-click="filteByYear(date);">{{date.month}} {{date.year}}</a></li>
                    </ul>
                    <div class="btn-all text-center mb15">
                        <button class="btn btn-danger btn-outline" ng-click="viewAll=!viewAll">
                          <span ng-if="!viewAll">View all</span>
                          <span ng-if="viewAll">View Less</span>
                        </button>
                    </div>
                    <div class="border-blue borders"></div>
                </div> -->
      </div>
    </div>
  </div>
</section>


<!-- ------------------------category filter---------------------------------------------- -->

<section class="bg-grey-diaries pd70" ng-if="filterdata">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="dairies-box pd-side mb15">
          <div class="row">
            <div class="col-sm-6" ng-repeat="data in filterDiaries.queryresult" ng-if="filterDiaries.queryresult.length>0">
              <div class="wed-box border-red pdnone mb15">
                <div class="wed-img-list event-img-list">
                  <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive">
                  <div class="ribbon-red">
                    <img src="img/ribbon_red.png" alt="">
                    <span class="color-white uppercase">{{data.categoryname}}</span>
                  </div>
                </div>
                <div class="wed-desc wed">
                  <div class="wed-desc-inside" ng-bind-html="data.content">
                  </div>
                  <div class="wed-date mar0 clearfix wedd">
                    <a ui-sref="diaries-author({id:data.authorid})"><span>{{data.authorname}}</span></a>
                    <div class="wed-date mar0 pull-right">
                      <span>Views:</span>
                      <span>{{data.views}}</span>
                    </div>
                  </div>
                  <div class="read-more pull-right" ng-if="data.type==1">
                    <a class="color-black bold" ui-sref="blogtext({id:data.id})">Read More</a>
                  </div>
                  <div class="read-more pull-right" ng-if="data.type==2">
                    <a class="color-black bold" ui-sref="blogimage({id:data.id})">Read More</a>
                  </div>
                  <div class="read-more pull-right" ng-if="data.type==3">
                    <a class="color-black bold" ui-sref="blogvideo({id:data.id})">Read More</a>
                  </div>
                  <div class="wed-date mar0">
                    <span>{{data.date |date:'d MMMM y'}}</span>
                  </div>
                </div>
                <div class="border-blue borders"></div>
              </div>
            </div>
            <div ng-if="filterDiaries.queryresult.length==0">
              <h1><center><b>Sorry, No Result Found.</b></center></h1>
            </div>
          </div>
          <div class="btn-all mr30">
            <button class="btn btn-danger btn-outline" ng-click="changePage(-1);" ng-disabled="filterDiaries.pageno==1">
              Prev
            </button>
            <button class="btn btn-danger btn-outline pull-right" ng-click="changePage(1);" ng-disabled="filterDiaries.pageno==filterDiaries.lastpage || filterDiaries.lastpage==0">
              Next
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="text-center wed-box box-side-diaries border-red">
          <div class="title-subtitle">
            <h4 class="uppercase color-red bold letter-spacing">CATEGORIES</h4>
          </div>
          <ul class="list-unstyled">
            <li><a class="uppercase" ui-sref="diaries({category:''})">Home</a></li>
            <li><a href="" class="uppercase" ng-repeat="cat in diaryData.category" ui-sref="diaries({category:cat.id})">{{cat.name}}</a></li>
          </ul>
          <div class="border-blue borders"></div>
        </div>
        <div class="text-center wed-box border-red box-side-diaries" ng-init="viewAll=false;">
          <div class="title-subtitle">
            <h4 class="uppercase color-red bold letter-spacing">ARCHIVES</h4>
          </div>
          <ul class="list-unstyled">
            <li><a href="" class="uppercase" ng-repeat="date in diaryyear1[0]" ng-click="filteByYear(date);">{{date.month}} {{date.year}}</a></li>

          </ul>
          <ul class="list-unstyled" ng-repeat="data1 in diaryyear1" ng-if="$index>0 && viewAll==true">
            <li ng-repeat="date in data1"><a href="" class="uppercase" ng-click="filteByYear(date);">{{date.month}} {{date.year}}</a></li>
          </ul>
          <div class="btn-all text-center mb15">
            <button class="btn btn-danger btn-outline" ng-click="viewAll=!viewAll">
              <span ng-if="!viewAll">View all</span>
              <span ng-if="viewAll">View Less</span>
            </button>
          </div>
          <div class="border-blue borders"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ---------------------------------End of category filter----------------------------------- -->
