<section>
  <div class="section1">
    <div class="bg1 min-height-section1">
      <div class="container">
        <ul class="nav-opt1 list-unstyled">
          <li class="pl1 mobile-pt0">
            <a href="#/movies">MOVIES <img src="img/home/icon-arrow-blue.png" alt=""></a>
          </li>
          <li class="pl2 mobile-pt0">
            <a href="#" class="color-red">EVENTS <img src="img/home/icon-arrow.png" alt=""></a>
          </li>
          <li class="pl3">
            <a href="#/wedding">WEDDINGS <img src="img/home/icon-arrow-blue.png" alt=""></a>
          </li>
          <li class="pl4 mobile-pt0">
            <a href="#" class="color-red">MICE <img src="img/home/icon-arrow.png" alt=""></a>
          </li>
          <li class="pl5 mobile-pt0">
            <a href="#">SPORTS <img src="img/home/icon-arrow-blue.png" alt=""></a>
          </li>
          <li class="pl6 mobile-pt0">
            <a href="#/talent" class="color-red">TALENT <img src="img/home/icon-arrow.png" alt=""></a>
          </li>
          <li class="pl7">
            <a href="#">WORLD TOURS <img src="img/home/icon-arrow-blue.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section2">
    <div class="bg2">
      <div class="container">
        <div class="text-center">
          <div class="wedding-diary">
            <div class="diary">
              <h4> <i class="glyph-icon fi flaticon-book"></i> GS DIARIES</h4>
            </div>
          </diV>
        </div>
        <div class="flex-slider">
          <flex-slider flex-slide="data in diaries track by $index" animation="slide" animation-loop="false" item-width="350" item-margin="0" as-nav-for="#slider" slideshow="false">
            <li>
              <div class="testimonials-slide">
                <div class="wed-box color-white">
                  <div class="wed-img-list">
                    <img ng-src="{{data.img}}" alt="" class="img-responsive">
                    <div class="ribbon-red">
                      <img src="img/ribbon_blue.png" alt="">
                      <span>{{data.title}}</span>
                    </div>
                  </div>
                  <div class="wed-desc">
                    <div class="wed-date">
                      <span>{{data.date}}</span>
                    </div>
                    <div class="wed-desc-inside">
                      <p>{{data.desc}}</p>
                    </div>
                    <div class="read-more">
                      <a href="" class="color-white">Read More</a>
                    </div>
                  </div>
                  <div class="border-blue borders"></div>
                </div>
              </div>
            </li>
          </flex-slider>
        </div>
        <div class="btn-all mb15 text-center">
          <button class="btn btn-danger btn-lg">
            View All
          </button>
        </div>
      </div>
      <div class="section3">
        <div class="bg3">
          <div class="container">
            <div class="client-speak">
              <div class="name-cont color-white">
                <img src="img/inverted.png" alt="">
                <!-- {{clientspeak}} -->
                <span>{{clientspeak.category}}</span>
              </div>
              <div class="img-holder">
                <img src="{{clientspeak.img}}" alt="" class="img-reponsive">
              </div>
              <div class="img-review color-white">
                <h4>"{{clientspeak.text}}"</h4>
                <p>- {{clientspeak.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section4">
    <div class="subcribe bg-subcribe-home">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center color-white">Sign up for the GS newsletter to receive latest updates.</h4>
            <form name="subForm" class="bs-example bs-example-form" role="form">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter email address" ng-model="subscribe.email" required>
                <span class="input-group-addon btn btn-danger" ng-click="subscribe(subscribe.email);">Subscribe</span>
                <div ng-messages="subForm.email.$error" ng-messages-include="error-messages"></div>
                <h4 ng-if="subscribeEmail">Thankyou For Subscribing</h4>
                <h4 ng-if="checkEmail">This email already exists</h4>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="social">
  <!-- <div ng-include = "'/social.html'"></div> -->
  <section class="marg-section">
    <div class="social-back ">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="social-box text-center">
              <img src="img/socials/facebook.png" class="doneLoading">
            </div>
            <div class="social-logo text-center">
              <div class="feed-social mt30">
                <div class="fb-page" data-href="https://www.facebook.com/GSWorldwideEnt/" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/GSWorldwideEnt/">
                      <a href="https://www.facebook.com/GSWorldwideEnt/">GS Worldwide Entertainment.</a></blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="social-box text-center">
              <img src="img/socials/twitter.png" class="doneLoading">
            </div>
            <div class="social-logo text-center ">
              <a class="twitter-timeline" href="https://twitter.com/GSWorldwideEnt" data-widget-id="716880459599228928">Tweets by @GSWorldwideEnt</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="social-box text-center">
              <img src="img/socials/instagram.png" class="doneLoading">
            </div>
            <div class="social-logo text-center ">
              <!-- LightWidget WIDGET -->
              <script src="//lightwidget.com/widgets/lightwidget.js"></script>
              <iframe src="//lightwidget.com/widgets/6c9b5207a66a55d2a2c1a39fd1065aac.html" id="lightwidget_6c9b5207a6" name="lightwidget_6c9b5207a6" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: scroll;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
