<section>
  <div class="banner-movies ab">
    <img src="img/jppseason1/banner.jpg" alt="" class="img-responsive">
  </div>
  <div class="banner banner-asfc text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="content mt15">
            <p class="text-justify">
              Jaipur Pink Panthers are the first champions of the Pro Kabaddi League 2014. The team is owned by the bollywood star Abhishek Bachchan. The team has played in various cities across India like Mumbai, Kolkata, Delhi, Patna, Pune, Vizag, Jaipur and Bengaluru.
              Jaipur Pink Panthers team and the home matches is execlusively managed by GS Worldwide Entertainment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
