<section class="mediacorner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner diaries-banner text-center">
          <img src="img/mediacorner/mediacorner.png" class="img-responsive" title="mediacorner">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="wedding-fant-desc mt50" ng-bind-html="mediadata.description.content">
          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
        </div>
      </div>
    </div>
  </div>
  <section class="bg-blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-9" ng-if="mediadatadetail.length>0">
          <div class="bg-grey-similar bg-sports">
            <div class="bg-moviesdiaries">
              <div class="pd-side">
                <div class="row">
                  <div class="col-md-6" ng-repeat="data in mediadatadetail track by $index">
                    <div class="wed-box border-red">
                      <div class="wed-img-list">
                        <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive">
                      </div>
                      <div class="wed-desc">
                        <div class="wed-desc-inside">
                          <p class="bold">{{data.name}}</p>
                        </div>
                        <div class="wed-date">
                          <span>{{data.date | date:"dd MMMM yyyy"}}</span>
                          <span>|</span>
                          <span>{{data.medianame}}</span>
                          <!-- <span>Times of India</span> -->
                        </div>
                        <div class="social">
                          <a target="_blank" href="{{data.facebook}}"><i class="fa fa-facebook"></i></a>
                          <a target="_blank" href="{{data.twitter}}"><i class="fa fa-twitter"></i></a>
                          <a target="_blank" href="{{data.google}}"><i class="fa fa-envelope-o"></i></a>
                        </div>
                      </div>
                      <div class="border-blue borders"></div>
                    </div>
                  </div>
                </div>
                <div class="btn-all mr30 text-center">
                  <button class="btn btn-danger btn-outline" ng-click="loadMore()">
                    Load More
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center wed-boxs border-red blog-side-diaries">
            <div class="title-subtitle">
              <h4 class="uppercase color-red bold letter-spacing">View</h4>
            </div>
            <ul class="list-unstyled">
              <li><a class="uppercase med" ng-repeat="data in mediadata" ui-sref="media_corner({year:data.year})"> {{data.year}}</a></li>
              <!-- <li><a href="" class="uppercase"> 2015</a></li>
            <li><a href="" class="uppercase"> 2014</a></li>
            <li><a href="" class="uppercase"> 2013</a></li>
            <li><a href="" class="uppercase"> 2012</a></li>
            <li><a href="" class="uppercase"> 2011</a></li>
            <li><a href="" class="uppercase"> 2010</a></li>
            <li><a href="" class="uppercase">ARCHIVES</a></li> -->
            </ul>
            <div class="border-blue bborders"></div>
          </div>
          <div class="text-center wed-boxs blog-side-diaries border-red">
            <div class="title-subtitle">
              <h4 class="uppercase color-red bold letter-spacing">CATEGORIES</h4>
            </div>
            <ul class="list-unstyled">
              <li><a href="" class="uppercase" ui-sref="movies">MOVIES</a></li>
              <li><a href="" class="uppercase" ui-sref="wedding">WEDDINGS</a></li>
              <li><a href="" class="uppercase" ui-sref="sports">SPORTS</a></li>
              <li><a href="" class="uppercase" ui-sref="event">EVENTS</a></li>
              <li><a href="" class="uppercase" ui-sref="mice">MICE</a></li>
              <li><a href="" class="uppercase" ui-sref="worldtour">WORLD TOUR</a></li>
            </ul>
            <div class="border-blue bborders"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
