<section class="mediacorner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner diaries-banner text-center">
          <img src="img/mediacorner/mediacorner.png" class="img-responsive" title="mediacorner">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="wedding-fant-desc mt50" ng-bind-html="mediadataContent.content">
          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
        </div>
      </div>
    </div>
  </div>
  <section class="bg-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12" ng-if="mediadatadetail.length>0">
          <div class="bg-grey-similar bg-sports">
            <div class="bg-moviesdiaries">
              <div class="pd-side">
                <div class="row">
                  <div class="col-md-4 col-sm-4" ng-repeat="data in mediadatadetail track by $index">
                    <div class="wed-box border-red">
                      <div class="wed-img-list bordr-color">
                        <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive">
                        <a ng-if="data.status=='1'" href="{{data.url}}" target="_new"><div class="overlay1">
                            <span> VIEW PRESS</span>
                           </div></a>
                        <a ng-if="data.status=='2'"><div class="overlay1">
                            <span> VIEW PRESS</span>
                           </div></a>
                      </div>
                      <div class="wed-desc">
                        <div class="wed-desc-inside">
                          <p class="bold">{{data.name}}</p>
                        </div>
                        <div class="wed-date">
                          <span>{{data.date | date:"dd MMMM yyyy"}}</span>
                          <span>|</span>
                          <span>{{data.medianame}}</span>
                          <!-- <span>Times of India</span> -->
                        </div>
                        <div class="social">
                          <a target="_blank" href="{{data.facebook}}"><i class="fa fa-facebook"></i></a>
                          <a target="_blank" href="{{data.twitter}}"><i class="fa fa-twitter"></i></a>
                          <a target="_blank" href="{{data.google}}"><i class="fa fa-envelope-o"></i></a>
                        </div>
                      </div>
                      <div class="border-blue borders"></div>
                    </div>
                  </div>
                </div>
                <div class="btn-all mr30 text-center">
                  <button class="btn btn-danger btn-outline" ng-click="seeMoreMediayear();" ng-if="seeMore">
                    View All
                  </button>
                  <button class="btn btn-danger btn-outline" ng-click="seeLessMediayear();" ng-if="seeLess && !seeMore">
                    View Less
                  </button>
                  <!-- <button class="btn btn-danger btn-outline" ng-click="loadMore()">
                    Load More
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</section>
