<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner text-center">
          <img src="img/movies/movies.png" class="img-responsive" title="Movies">
        </div>
      </div>
    </div>
  </div>
  <div class="wedding-fant-desc">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p>The first gs film 'Pyar Kiya To Darna Kya’ (1998) proved to be one of the biggest success film of the year. The film starred Dharmendra, Salman Khan, Kajol, Arbaaz Khan and Anjala Zaveri. Having proved as a hit combination by public consensus,
            Salman Khan and Arbaaz Khan featured again with Rani Mukherjee in GS Worldwide Entertainment's second Hindi feature film 'Hello Brother' (2002) directed by Sohail Khan. 'Maine Dil Tujkho Diya ' (2002) was gs worldwide entertainment’s third
            venture film. This film introduced Sohail Khan and Sameera Reddy as actors, which also starred Kabir Bedi and Sanjay Dutt directed by Sohail Khan.</p>
          <p>In 2005 GS Worldwide Entertainment produced 'Ek Ajnabee' with the superstar himself, Mr. Amitabh Bachchan who also starred in the movie along with Arjun Rampal and Perizaad Zorabian, directed by Apoorva Lakhia. National Award Winning Director
            of the movie ‘Parzania’ Rahul Dholakia joined hands with gs worldwide entertainment to direct its 5th movie ‘Lamhaa’ (2010) that starred Sanjay Dutt, Bipasha Basu &amp; Kunal Kapoor.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-category">
    <div class="container">
      <uib-tabset active="active">
        <uib-tab index="0" heading="RELEASED">
          <div class="flex-slider">
            <flex-slider flex-slide="data in moviereleased track by $index" animation="slide" animation-loop="false" item-width="218" item-margin="10">
              <li>
                <div class="movie-box text-center">
                  <img ng-src="{{data.img}}" alt="" class="img-responsive">
                  <div class="movie-date">
                    <span>Release Date:</span>
                    <p class="color-red">{{data.date}}</p>
                  </div>
                </div>
              </li>
              <flex-slider>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="UPCOMING">
          <div class="flex-slider">
                <flex-slider flex-slide="data in movieupcoming track by $index" animation="slide" animation-loop="false" item-width="220" item-margin="8" as-nav-for="#sliders" slideshow="false">
              <li>
                <div class="movie-box text-center">
                  <img ng-src="{{data.img}}" alt="" class="img-responsive">
                  <div class="movie-date">
                    <span>Release Date:</span>
                    <p class="color-red">{{data.date}}</p>
                  </div>
                </div>
              </li>
              <flex-slider>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" ng-repeat="data in wedding track by $index">
      <img ng-src="{{data.img}}" class="img-responsive">
      <div class="name-event text-center">
        <span>{{data.name}}</span>
      </div>
    </div>
  </div>
  <div class="movies-back-bg">
    <div class="bg-moviesdiaries">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <div class="wedding-diary">
                <div class="diary-title mr30">
                  <h4 class="uppercase color-red"><i class="fi flaticon-book"></i>Movie DIARIES<i class="fi flaticon-tool"></i></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pd-side">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in weddings track by $index">
              <div class="wed-box border-red">
                <div class="wed-img-list">
                  <img ng-src="{{data.img}}" alt="" class="img-responsive">
                  <div class="ribbon-red">
                    <img src="img/ribbon_red.png" alt="">
                    <span class="color-white uppercase">Movies</span>
                  </div>
                </div>
                <div class="wed-desc">
                  <div class="wed-date">
                    <span>{{data.date}}</span>
                  </div>
                  <div class="wed-desc-inside">
                    <p class="bold">{{data.desc}}</p>
                  </div>
                  <div class="read-more">
                    <a href="" class="color-black">Read More</a>
                  </div>
                </div>
                <div class="border-blue borders"></div>
              </div>
            </div>
          </div>
          <div class="btn-all mr30 text-center">
            <button class="btn btn-danger btn-outline">
              View All
            </button>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="bg-subcribe-movies subcribe">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h4 class="text-center color-white">Sign up for the GS newsletter to receive latest updates.</h4>
              <form class="bs-example bs-example-form" role="form">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <span class="input-group-addon btn btn-danger">Subscribe</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section3">
      <div class="bg3">
        <div class="container">
          <div class="client-speak">
            <div class="name-cont color-white">
              <img src="img/inverted.png" alt="">
              <!-- {{clientspeak}} -->
              <span>{{clientspeak.category}}</span>
            </div>
            <div class="img-holder">
              <img src="{{clientspeak.img}}" alt="" class="img-reponsive">
            </div>
            <div class="img-review color-white">
              <h4>"{{clientspeak.text}}"</h4>
              <p>- {{clientspeak.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="text-center">
          <h4 class="uppercase color-blue bold">Use <a class="color-red" target="_blank">#GSWedding</a> and get to view live feed of everyone,<br>
including yours, right here!</h4>
        </div>
      </div>
    </div>
    <div class="social">
      <section class="marg-section">
        <div class="social-back ">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/facebook.png" class="doneLoading">
                </div>
                <div class="social-logo text-center">
                  <img src="img/facebook.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/twitter.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/twitter.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/instagram.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/instagram.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="mr30">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="get-in-touch">
            <h3 class="color-red uppercase bold">GET IN TOUCH</h3>
            <form action="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-10">
                    <div class="enq-list">
                      <label class="checkbox-inline text-label" style="padding-left:0;margin-top:-6px;">
                        <span class="color-red">Enquiring for </span>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="production" value="">
                        <label for="production"><span></span> Production</label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="distribution" value="">
                        <label for="distribution"><span></span> Distribution</label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="casting" value="">
                        <label for="casting"><span></span> Casting</label>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Location">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Number of People Expected">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <textarea class="form-control" rows="3" placeholder="Say Something"></textarea>
                  <div class="submit-btn btn-all text-center mt15">
                    <button class="btn btn-danger" type="button" name="button">submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
