<section>
  <div class="banner-movies">
    <img src="img/moviedetail/movie_header.jpg" alt="" class="img-responsive">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="color-red uppercase title-main">
          <h3 class="bold">ABOUT THE MOVIE</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title-subtitle color-blue uppercase">
          <h4 class="bold">
        Synopsis
      </h4>
        </div>
        <div class="cont-main">
          <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with including versions of Lorem Ipsum.</p>
          <div class="btn-all mr30 text-center">
            <button class="btn btn-danger">
              Check this movie out on IMDb
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title-subtitle color-blue uppercase">
          <h4 class="bold">
      Cast &amp; Crew
      </h4>
        </div>
        <div class="cast-crew">
          <table>
            <tr>
              <td>Producer :</td>
              <td>Bunty Walia, Juspreet Singh Walia and Vashu Bhagnani</td>
            </tr>
            <tr>
              <td>Director :</td>
              <td>Sohail Khan</td>
            </tr>
            <tr>
              <td>Casts :</td>
              <td>Salman Khan, Kajol, Arbaaz Khan, Dharmendra</td>
            </tr>
            <tr>
              <td>Music :</td>
              <td>Jatin-Lalit, Himesh Reshammiya and Sajid-Wajid</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="videoslider">
    <div class="row">
      <div class="col-md-9">
        <div class="video-main">
          <img src="" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <ul class="list-unstyled">
            <li><img src="" alt="" /></li>
            <li><img src="" alt="" /></li>
            <li><img src="" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-insidemovies">
    <div class="container">
      <uib-tabset active="active">
        <uib-tab index="0" heading="IMAGE GALLERY">
          <div class="flex-slider">
            <flex-slider flex-slide="" animation="slide" animation-loop="false">
              <li>
                <div class="wallpaper-thumbs">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <flex-slider>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="WALLPAPERS">
          <div class="flex-slider">
            <flex-slider flex-slide="" animation="slide" animation-loop="false">
              <li>
                <div class="wallpaper-thumbs">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="image-thumb">
                        <img src="" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <flex-slider>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
  <div class="container">
    <div class="awards">
      <div class="title">
        <h3 class="uppercase bold color-black">
        AWARDS
      </h3>
      </div>
      <div class="tabs-awards">
        <uib-tabset active="activePill" type="pills">
          <uib-tab index="0" heading="Filmfare">
            <div class="awards-title">
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="IIFA">
            <div class="awards-title">
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="Stardust">
            <div class="awards-title">
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
            </div>
          </uib-tab>
          <uib-tab index="3" heading="Zee Cine Awards">
            <div class="awards-title">
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
              <ul class="list-unstyled">
                <li>Kamaal Khan</li>
                <li>R.D. Burman Award</li>
                <li>O o jaane jaana</li>
              </ul>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="text-center">
          <h4 class="uppercase color-blue bold">Use <a class="color-red" target="_blank">#GSWedding</a> and get to view live feed of everyone,<br>
including yours, right here!</h4>
        </div>
      </div>
    </div>
    <div class="social">
      <section class="marg-section">
        <div class="social-back ">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/facebook.png" class="doneLoading">
                </div>
                <div class="social-logo text-center">
                  <img src="img/facebook.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/twitter.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/twitter.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/instagram.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/instagram.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
