<section>
  <div class="banner-movies ab">
    <img src="img/moviedetail/movie_header.jpg" alt="" class="img-responsive">
  </div>
  <div class="container">
    <div class="movie-abt">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="row mt180">
            <div class="col-md-12">
              <div class="color-red uppercase title-main">
                <h3 class="bold">ABOUT THE MOVIE</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="title-subtitle color-blue uppercase">
                <h4 class="bold">Synopsis</h4>
              </div>
              <div class="cont-main">
                <p class="text-justify">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                  survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with including versions of Lorem Ipsum.
                </p>
                <div class="btn-all mt15 mb15">
                  <button class="btn btn-danger">
                    Check this movie out on IMDb
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="title-subtitle color-blue uppercase">
                <h4 class="bold">
        Cast &amp; Crew
        </h4>
              </div>
              <div class="cast-crew">
                <table>
                  <tr>
                    <td class="bold">Producer :</td>
                    <td>Bunty Walia, Juspreet Singh Walia and Vashu Bhagnani</td>
                  </tr>
                  <tr>
                    <td class="bold">Director :</td>
                    <td>Sohail Khan</td>
                  </tr>
                  <tr>
                    <td class="bold">Casts :</td>
                    <td>Salman Khan, Kajol, Arbaaz Khan, Dharmendra</td>
                  </tr>
                  <tr>
                    <td class="bold">Music :</td>
                    <td>Jatin-Lalit, Himesh Reshammiya and Sajid-Wajid</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-halfgrey">
    <div class="bg-pattern">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="videoslider">
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="title-movies mb30">FEATURED VIDEOS</h4>
                </div>
                <div class="col-xs-9 plr5">
                  <div class="video-main">
                    <img src="img/moviedetail/videos/video1.jpg" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="col-xs-3 plr5">
                  <div class="thumbnail-movies">
                    <ul class="list-unstyled">
                      <li> <img src="img/moviedetail/videos/video2.jpg" alt="" class="img-responsive"></li>
                      <li> <img src="img/moviedetail/videos/video3.jpg" alt="" class="img-responsive"></li>
                      <li> <img src="img/moviedetail/videos/video4.jpg" alt="" class="img-responsive"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-insidemovies">
              <uib-tabset active="active">
                <uib-tab index="0" heading="IMAGE GALLERY">
                  <div class="flex-slider">
                    <flex-slider flex-slide="slide in wallpapers track by $index" animation="slide" animation-loop="false" as-nav-for="#sliders" slideshow="false">
                      <li class="">
                        <div class="wallpaper">
                          <div class="row mb30" ng-repeat="row in slide">
                            <div class="col-xs-4 plr10" ng-repeat="wallpaper in row">
                              <div class="image-holder text-center">
                                <img ng-src="{{wallpaper.img}}" class="doneLoading" alt="">
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </li>
                    </flex-slider>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="WALLPAPERS">
                  <div class="flex-slider">
                    <flex-slider flex-slide="slide in wallpapers track by $index" animation="slide" animation-loop="false" as-nav-for="#sliders" slideshow="false">
                      <li class="">
                        <div class="wallpaper">
                          <div class="row mb20" ng-repeat="row in slide">
                            <div class="col-xs-4 plr10" ng-repeat="wallpaper in row">
                              <div class="image-holder text-center">
                                <img ng-src="{{wallpaper.img}}" class="doneLoading" alt="">
                              </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </li>
                    </flex-slider>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-award">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="awards">
            <div class="title">
              <h3 class="uppercase bold color-white text-center">
        AWARDS
      </h3>
            </div>
            <div class="tabs-awards">
              <uib-tabset active="activePill" type="">
                <uib-tab index="0" heading="Filmfare">
                  <div class="awards-title">
                    <ul class="list-unstyled" ng-repeat="data in awards">
                      <li>{{data.name}}</li>
                      <li>{{data.title}}</li>
                      <li>{{data.fortitle}}</li>
                    </ul>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="IIFA">
                  <div class="awards-title">
                    <ul class="list-unstyled" ng-repeat="data in awards">
                      <li>{{data.name}}</li>
                      <li>{{data.title}}</li>
                      <li>{{data.fortitle}}</li>
                    </ul>
                  </div>
                </uib-tab>
                <uib-tab index="2" heading="Stardust">
                  <div class="awards-title">
                    <ul class="list-unstyled" ng-repeat="data in awards">
                      <li>{{data.name}}</li>
                      <li>{{data.title}}</li>
                      <li>{{data.fortitle}}</li>
                    </ul>
                  </div>
                </uib-tab>
                <uib-tab index="3" heading="Zee Cine Awards">
                  <div class="awards-title">
                    <ul class="list-unstyled" ng-repeat="data in awards">
                      <li>{{data.name}}</li>
                      <li>{{data.title}}</li>
                      <li>{{data.fortitle}}</li>
                    </ul>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="text-center">
          <h4 class="uppercase color-blue bold">Use <a class="color-red" target="_blank">#PYAARKIYATODARNAKYA</a> and get to view live feed of everyone,<br>
including yours, right here!</h4>
        </div>
      </div>
    </div>
    <div class="social">
      <section class="marg-section">
        <div class="social-back ">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/facebook.png" class="doneLoading">
                </div>
                <div class="social-logo text-center">
                  <img src="img/facebook.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/twitter.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/twitter.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/instagram.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/instagram.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
