<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner text-center">
          <img src="img/talent/talent.png" class="img-responsive" title="Talent">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <div class="wedding-fant-desc">
          <p>gs worldwide entertainment represents celebrities from the Indian entertainment industry. We work closely with celebrities to help them create, develop and maintain their artistic brand identity. Whilst providing clients with quality talent to increase their commercial appeal in the marketplace. Some of the celebrities we exclusively manage are Abhishek Bachchan, Lara Dutta, Rahul Khanna, Manasi Scott, Surveen Chawla, Tisca Chopra, Jaaved Jaaferi and Shveta Salve.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-repeat="data in wedding track by $index">
        <img ng-src="{{data.img}}" class="img-responsive">
        <div class="name-event text-center">
          <span>{{data.name}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="wedding-diary">
            <ul>
              <li>
                <div class="diary">
                  <img src="img/weddings/diaries/diary.png" alt="diary">

                </div>
              </li>
              <li>
                <div class="diary-title">
                  <h4>Talent DIARIES</h4>
                </div>
              </li>
              <li>
                <div class="diary">
                  <img src="img/talent/talent_mic.png" alt="Mic">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="data in weddings track by $index">
        <div class="wed-box">
          <div class="wed-img-list">
            <img ng-src="{{data.img}}" alt="" class="img-responsive">
            <div class="ribbon-red">
              <img src="img/ribbon_red.png" alt="">
              <span>Talent</span>
            </div>
          </div>
          <div class="wed-desc">
            <div class="wed-date">
              <span>{{data.date}}</span>
            </div>
            <div class="wed-desc">
              <p>{{data.desc}}</p>
            </div>
            <div class="read-more">
              <a href="">Read More</a>
            </div>
          </div>
          <div class="border-red"></div>
        </div>
      </div>
    </div>
    <div class="text-center view">
      <button class="btn btn-outline">VIEW ALL</button>
    </div>

<div class="row">
  <div class="service-bg">
    <div class="col-md-6">
    <div class="serv-title">
      <h3>SERVICE</h3>
    </div>
    </div>
    <div class="col-md-6">
      <div class="list-servic">
        <ul>
          <li>
            <span>BRAND AMBASSADORS</span>
          </li>
          <li>
            <span>TALENT REPRESENTATION</span>
          </li>
          <li>
            <span>CELEBRITY ENDORSEMENTS</span>
          </li>
          <li>
            <span>TV, RADIO AND PRESS INTERVIEW</span>
          </li>
          <li>
            <span>EVENTS AND APPEARANCES</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="subscrib-bg">
  <div class="row">
    <div class="col-md-12">
      <div class="subscribe-title text-center">
        <h4>Sign up to get autographed merchandise from GS superstars!</h4>
        <form class="form-inline">
  <div class="form-group">
    <label for="inputPassword2" class="sr-only">Enter email addres</label>
    <input type="email" class="form-control" id="inputPassword2" placeholder="Enter email addres">
  </div>
  <button type="submit" class="btn btn-default">Subscride</button>
</form>
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <div class="text-center">
          <h4>Use #GSWedding and get to view live feed of everyone,
including yours, right here!</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="social-box text-center">
          <img src="img/socials/facebook.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-box text-center">
          <img src="img/socials/instagram.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-box text-center">
          <img src="img/socials/twitter.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <div class="get-in-touch">
          <h4>GET IN TOUCH</h4>
        </div>
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Phone number</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="text-enqry">
                <span>Enquiring for </span>
              </div>
            </div>
            <div class="col-md-10">
              <div class="enq-list">
                <ul>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">360 Wedding
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">Bollywood Nite
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Destination Weddings
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">Youngsters & Cocktail Party
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">Mehendi & Sangeet
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">Phera & Reception
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- <div class="form-group">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Start Date">
                <div class="icon-calender">
                  <i class="fa fa-calendar"></i>
                </div>
              </div> -->
              <div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2">Start Date</label>
  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="Start Date">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>

</div>
            </div>
            <div class="col-md-6">
              <!-- <div class="form-group">
                <label for="exampleInputEmail1">End Date</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="End Date">
                <div class="icon-calender">
                  <i class="fa fa-calendar"></i>
                </div>
              </div> -->
              <div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2">End Date</label>
  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="End Date">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>

</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Location</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Location">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Number of People Expected</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Number of People Expected">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control" rows="3"></textarea>
              <div class="submit-btn text-center">
                <button class="btn btn-primary" type="button" name="button">submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
