<section class="eventdetail">
  <!-- <div class="banner-movies ab">
    <img src="img/event/eventinsidedetail/event.png" alt="" class="img-responsive">
  </div> -->
  <div class="banner-movies ab">
    <img ng-src="{{weddetail.weddingdetail.banner | uploadpath}}" alt="{{micedetail.micedetail.banner}}" class="img-responsive">
    <div class="banner-name ab text-center">
    <h4>{{weddetail.weddingdetail.name}}</h4>
  </div>
  <div class="overlay"></div>
  </div>
  <div class="banner banner-asfc text-center mt180">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="content mt15">
            <p class="text-justify">
              {{weddetail.weddingdetail.content}}
            </p>
          </div>
          <!-- <div class="content mt15">
            <p class="text-justify">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with   including versions of Lorem Ipsum.
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mehendi" ng-if="weddetail.imagegallery.length > 0">
  <div class="mehendi-gallery nav-tab-middle ">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="title">
            <h3 class="letter-spacing color-red uppercase">
            Image Gallery
            </h3>
          </div>
          <div class="mb15">
            <div class="slider-client">
              <flex-slider flex-slide="slide in weddetail.imagegallery track by $index" animation="slide" animation-loop="false" as-nav-for="#slider" slideshow="false" item-margin="20" prev-text="" next-text="">
                <li class="">
                  <div class="row" ng-repeat="row in slide">
                    <div class="col-xs-4" ng-repeat="wall in row">
                      <div class="mb15">
                        <a fancybox-box href="{{wall.image | uploadpath}}">
                          <img ng-src="{{wall.image | uploadpath}}" alt="" class="img-responsive">
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-mehendi">
  <section class="mehendi" ng-if="weddetail.featuredvideos.length > 0">
    <div class="mehendi-movie">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="title">
              <h3 class="letter-spacing color-white uppercase">
              FEATURED VIDEOS
            </h3>
            </div>

            <div class="slider-client">
              <flex-slider slide="video in weddetail.featuredvideos track by $index" slider-id="slider" prev-text="" next-text="" sync="#carousel" slideshow="false" animation="slide">
                <li>
                  <div class="video-main">
                    <!-- <img ng-src="{{image.img}}" alt="" class="img-responsive"> -->
                    <img ng-src="{{video.name | youtubethumb:false}}" alt="" class="img-responsive">
                    <a fancybox-box href="http://www.youtube.com/embed/{{video.name | youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="movies" data-fancybox-type="iframe">
                      <i class="fa fa-play"></i>
                    </a>
                  </div>
                </li>
              </flex-slider>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="image-navigation">
            <flex-slider slide="image in weddetail.featuredvideos track by $index" animation="slide" animation-loop="false" item-width="280" item-margin="40" as-nav-for="#slider" slideshow="false" control-nav="false" prev-text="" next-text="" slider-id="carousel"
              animation-loop="false">
              <li>
                <div class="row">
                  <!-- <img ng-src="{{image.img}}" alt=""> -->
                  <img ng-src="{{image.name | youtubethumb:false}}" alt="">
                </div>
              </li>
            </flex-slider>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container" ng-if="weddetail.relatedarticles.length > 0">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="wedding-diary">
            <div class="diary-title mr30">
              <h4 class="uppercase color-red">RELATED ARTICLES</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pd-side">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in weddetail.relatedarticles track by $index">
          <div class="wed-box border-red">
            <div class="wed-img-list sport-img-list">
              <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive">
              <div class="ribbon-red">
                <img src="img/ribbon_red.png" alt="">
                <span class="color-white uppercase">Wedding</span>
              </div>
            </div>
            <div class="wed-desc">
              <div class="wed-date">
                <span>{{data.date | date:"dd MMMM yyyy"}}</span>
              </div>
              <div class="wed-desc-inside" ng-bind-html="data.content">
                {{data.content}}
              </div>
              <div class="read-more">
                <a class="color-black" ui-sref="weddinginsidedetail({id:data.id})">Read More</a>
              </div>
            </div>
            <div class="border-blue borders"></div>
          </div>
        </div>
      </div>
      <div class="btn-all mr30 text-center" ng-repeat="data in weddetail.relatedarticles | limitTo:1">
        <button ui-sref="weddinginside({id:data.wedding})" class="btn btn-danger btn-outline">
          View All
        </button>
      </div>
    </div>
  </section>
</div>
