<section>
  <div class="banner banner-movies ab">
    <img src="img/weddings/banner.jpg" class="img-responsive" style="width:100%;">
    <!-- <div class="banner-title text-center">
      <h4>
        360 Weddings
      </h4>
    </div> -->
  </div>
</section>
<section>
  <div class="container">
    <div class="row mt180">
      <div class="col-md-offset-1 col-md-10">
        <div class="row pd30" ng-repeat="data in weddingdetail">
          <div class="col-sm-6">
            <div class="wedding-imgbox">
              <img ng-src="{{data.img}}" class="img-responsive" alt="">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wedding-detail mt45">
              <div class="w-title">
                <h4 class="uppercase color-red bold">
              {{data.name}}
                </h4>
              </div>
              <div class="w-detail mt15 mb15">
                <p>
                  {{data.detail}}
                </p>
              </div>
              <div class="w-button">
                <button class="btn btn-danger">Photos <i class="fa fa-camera"></i></button>
                <button class="btn btn-danger dark-red">Video <i class="fa fa-play"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-all text-center">
      <button class="btn btn-outline">
        View all
      </button>
    </div>
  </div>
</section>
