<section>
  <div class="banner">
    <img src="img/weddings/banner.jpg" class="img-responsive" style="width:100%;">
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="wedding-imgbox">
          <img src="img/weddings/w1.png" class="img-responsive" alt="">
        </div>

      </div>
      <div class="col-md-6">
        <div class="wedding-detail">
          <div class="w-title">
            <h4>
              Choksi-Talera Wedding Setup
            </h4>
          </div>
          <div class="w-detail">
            <p>
              The beautiful #choksitalerawedding took place at Mohini Mahal on 16th April, 2014. The entire #event was organized and managed by GS Worldwide Entertainment. #gswedding
            </p>
          </div>
          <div class="w-button">
            <button class="btn btn-primary">Photos <i class="fa fa-camera"></i></button>
            <button class="btn btn-primary">Video <i class="fa fa-play"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
