<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-banner text-center">
          <img src="img/weddings/weddings.png" class="img-responsive" title="Weddings">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-2 col-sm-4">
        <div class="img-tilt">
          <img src="img/weddings/wedding_fanta.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="wedding-fant-desc mt50">
          <p>gs worldwide entertainment has forayed into the vast business of Weddings. We at gs entertainment specialize in handling every aspect of your wedding, from A-Z, leaving you to spend time with your loved ones. Here at gs, your dream day is planned
            creatively by a host of qualified professionals who dedicate themselves entirely in making your day even more special.</p>
        </div>
      </div>
    </div>
    <div class="wedding banner-talent">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in wedding track by $index">
          <div class="banner-wrap">
            <img ng-src="{{data.img}}" class="img-responsive">
            <img src="img/weddings/hover-banner.png" alt="" class="img-responsive hover-image">
            <div class="name-event extend-hover text-center center-make">
              <span class="color-white uppercase">{{data.name}}</span>
              <hr class="wedding-border">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-moviesdiaries">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="wedding-diary">
              <div class="diary-title mr30">
                <h4 class="uppercase color-red"><i class="fi flaticon-book"></i>wedding DIARIES<img src="img/weddings/diaries/diary_back.png" alt="diary" class="mic"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pd-side">
        <div class="row">
          <div class="col-sm-4 col-xs-6" ng-repeat="data in weddings track by $index">
            <div class="wed-box border-red">
              <div class="wed-img-list">
                <img ng-src="{{data.img}}" alt="" class="img-responsive">
                <div class="ribbon-red">
                  <img src="img/ribbon_red.png" alt="">
                  <span class="color-white uppercase">Wedding</span>
                </div>
              </div>
              <div class="wed-desc">
                <div class="wed-date">
                  <span>{{data.date}}</span>
                </div>
                <div class="wed-desc-inside">
                  <p class="bold">{{data.desc}}</p>
                </div>
                <div class="read-more">
                  <a href="" class="color-black">Read More</a>
                </div>
              </div>
              <div class="border-blue borders"></div>
            </div>
          </div>
        </div>
        <div class="btn-all mr30 text-center">
          <button class="btn btn-danger btn-outline">
            View All
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="service">
          <div class="title">
            <h3 class="uppercase bold text-center">services</h3>
            <div class="border-blue borders"></div>
          </div>
          <div class="services-list">
            <uib-accordion close-others="oneAtATime" is-open="status.open">
              <uib-accordion-group is-open="status.open1" is-disabled="status.isFirstDisabled" ng-repeat="data in services">
                <uib-accordion-heading>
                  <span class="uppercase bold">{{data.title}}</span>
                  <i class="pull-right fa" ng-class="{'fa-minus': status.open1, 'fa-plus': !status.open1}"></i>
                </uib-accordion-heading>
                <!-- <div class="" ng-bind-html="{{data.content}}">{{data.content}}</div> -->
                <div class="" >{{data.content}}</div>
              </uib-accordion-group>
              <!-- <uib-accordion-group is-open="status.open2">
                <uib-accordion-heading>
                  <span class="uppercase bold">  Wedding Design and Production </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  Destination Management </span><i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  Entertainment &amp; Talent </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  Photography &amp; Videography </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  Catering Liasion </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  RSVP, Hospitality &amp; Transport </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  VENUE SELECTION </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  THEMED EVENTS </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  TRAVEL &amp; STAY </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  DECOR </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                Décor is like a crown of jewels…special attention is paid to colours of drapes, flower arrangements, backdrops, props, lighting, seating, etc. for a tasteful presentation. We execute all these minute details with perfection. We understand how important
                it is to match the colour of the flowers of the centre piece with that of the bow of the chair…we understand the scheme of colours, the fall of the fabrics.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  ENTERTAINMENT </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group>
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="uppercase bold">  CATERING </span> <i class="pull-right fa" ng-class="{'fa-minus': status.open, 'fa-plus': !status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
              </uib-accordion-group> -->
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
    <div class="section3">
      <div class="bg3">
        <div class="container">
          <div class="client-speak">
            <div class="name-cont color-white">
              <img src="img/inverted.png" alt="">
              <span>Talent Speak</span>
            </div>
            <div class="img-holder">
              <img src="img/talent/sachin.jpg" alt="" class="img-reponsive">
            </div>
            <div class="img-review color-white">
              <h4>"Extra Efficient"</h4>
              <p>- Sachin Joshi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social">
      <!-- <div ng-include = "'/social.html'"></div> -->
      <section class="marg-section">
        <div class="social-back ">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/facebook.png" class="doneLoading">
                </div>
                <div class="social-logo text-center">
                  <img src="img/facebook.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/twitter.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/twitter.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="social-box text-center">
                  <img src="img/socials/instagram.png" class="doneLoading">
                </div>
                <div class="social-logo text-center ">
                  <img src="img/instagram.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="mr30">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="get-in-touch">
            <h3 class="color-red uppercase bold">GET IN TOUCH</h3>
            <form action="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-10">
                    <div class="enq-list">
                      <label class="checkbox-inline enquire text-label" style="padding-left:0;margin-top:0px;">
                        <span class="color-red">Enquiring for </span>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="wedding" value="wedding">
                        <label for="wedding"><span></span> 360 Wedding </label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="nite" value="nite">
                        <label for="nite"><span></span> Bollywood Nite </label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="weddings" value="weddings">
                        <label for="weddings"><span></span>Destination Weddings</label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="cocktail" value="cocktail">
                        <label for="cocktail"><span></span>Youngsters &amp; Cocktail Party </label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="sangeet" value="sangeet">
                        <label for="sangeet"><span></span>Mehendi &amp; Sangeet </label>
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="reception" value="reception">
                        <label for="reception"><span></span>Phera &amp; Reception</label>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="date" class="form-control" id="inputSuccess2" aria-describedby="Start Date" placeholder="Start Date">
                    <span class="fa fa-calendar color-red form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="date" class="form-control" id="inputSuccess2" aria-describedby="End Date" placeholder="End Date">
                    <span class="fa fa-calendar color-red form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Location">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Number of People Expected">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <textarea class="form-control" rows="3" placeholder="Say Something"></textarea>
                  <div class="submit-btn btn-all text-center mt15">
                    <button class="btn btn-danger" type="button" name="button">submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
