<section class="worlddetail" ng-if="tourInside.worldtourdetail">
  <!-- <div class="banner-movies ab">
    <img ng-src="{{tourInside.worldtourdetail.banner | uploadpath}}" alt="{{tourInside.worldtourdetail.banner}}" class="img-responsive">
  </div> -->
  <div class="banner banner-movies ab">
    <img ng-src="{{tourInside.worldtourdetail.banner | uploadpath}}" alt="{{tourInside.worldtourdetail.banner}}" class="img-responsive" style="width:100%;">
    <div class="banner-wt ab text-center">
      <h4 class="wed-box borcol">{{tourInside.worldtourdetail.name}}</h4>
      <div class="border-banner bborders"></div>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="container">
    <div class="movie-abt">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="row mt180">
            <div class="col-md-12">
              <div class="color-red uppercase title-main">
                <h3 class="bold">ABOUT THE Concert</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="title-subtitle color-blue uppercase">
                <h4 class="bold">Synopsis</h4>
              </div>
              <div class="cont-main" ng-bind-html="tourInside.worldtourdetail.content">
                <!-- <p class="text-justify">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with including versions of Lorem Ipsum.
                                </p> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="cast-crew">
                <table>
                  <tr ng-if="tourInside.worldtourdetail.location">
                    <td class="bold">Location :</td>
                    <td>{{tourInside.worldtourdetail.location}}</td>
                  </tr>
                  <tr ng-if="tourInside.worldtourdetail.venue">
                    <td class="bold">Venue :</td>
                    <td ng-bind-html="tourInside.worldtourdetail.venue"></td>
                  </tr>
                  <tr ng-if="tourInside.worldtourdetail.date">
                    <td class="bold">Date :</td>
                    <td>{{tourInside.worldtourdetail.date | date:"dd MMMM yyyy"}}</td>
                    <!-- <td>6<sup>th</sup> April 2013</td> -->
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-halfgrey">
    <div class="bg-pattern">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="videoslider hidden-xs" ng-if="tourInside.featuredvideos">
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="title-movies mb30">FEATURED VIDEOS</h4>
                </div>
                <div class="col-xs-9 plr5">
                  <!-- <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/{{gal.url}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"></a> -->

                  <div class="video-main">
                    <a fancybox-box href="http://www.youtube.com/embed/{{tourInside.featuredvideos[0].url | youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="tours" data-fancybox-type="iframe" rel="fancybox-button">
                                     <img ng-src="{{tourInside.featuredvideos[0].url | youtubethumb:false}}" alt="" class="img-responsive">
     <i class="fa fa-play"></i>
                    </a>
                  </div>
                </div>
                <div class="col-xs-3 plr5">
                  <div class="thumbnail-movies">
                    <ul class="list-unstyled">
                      <li ng-repeat="video in tourInside.featuredvideos" ng-if="$index>0" ng-click="makeActive(video,$index)">
                        <img ng-src="{{video.url | youtubethumb:false}}" alt="" class="img-responsive">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="videoslider visible-xs" ng-if="tourInside.featuredvideos">
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="title-movies mb30">FEATURED VIDEOS</h4>
                </div>
                <div class="col-xs-12">
                  <!-- <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/{{gal.url}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"></a> -->

                  <div class="video-main">
                    <a fancybox-box href="http://www.youtube.com/embed/{{tourInside.featuredvideos[0].url | youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" rel="tours" data-fancybox-type="iframe" rel="fancybox-button">
                   
                    <img ng-src="{{tourInside.featuredvideos[0].url | youtubethumb:false}}" alt="" class="img-responsive">
   <i class="fa fa-play"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-insidemovies nav-tab-middle mislider">
              <div class="title">
                <h4 ng-if="tourInside && tourInside.imagegallery && tourInside.imagegallery.length>0" class="display-inline uppercase {{styleActives}}" ng-click="doActives(1);">Image Gallery</h4>
                <h4 ng-if="tourInside && tourInside.wallpaper && tourInside.wallpaper.length>0" class="display-inline uppercase {{styleNoActives}}" ng-click="doActives(2);">Wallpapers</h4>
              </div>
              <div class="flex-slider" ng-if="tourInside && tourInside.imagegallery && tourInside.imagegallery.length>0">

                <flex-slider flex-slide="slide in tourInside.imagegallery track by $index" ng-if="styleActives == 'mactives'" animation="slide" animation-loop="false" slideshow="false">
                  <li class="">
                    <div class="wallpaper">
                      <div class="row mb30" ng-repeat="row in slide">
                        <div class="col-xs-4 plr10" ng-repeat="images in row">
                          <a fancybox-box class="padds0" ng-href="{{images.image | uploadpath}}" rel="fancybox-button1">
                            <div class="image-holder text-center">
                              <img ng-src="{{images.image | uploadpath}}" class="img-responsive doneLoading" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </li>
                </flex-slider>
              </div>
              <div class="flex-slider" ng-if="tourInside && tourInside.wallpaper && tourInside.wallpaper.length>0">
                <flex-slider flex-slide="slide in tourInside.wallpaper track by $index" ng-if="styleNoActives == 'mactives'" animation="slide" animation-loop="false" slideshow="false">
                  <li class="">
                    <div class="wallpaper">
                      <div class="row mb30" ng-repeat="row in slide">
                        <div class="col-xs-4 plr10" ng-repeat="images in row">
                          <a fancybox-box class="padds0" ng-href="{{images.image | uploadpath}}" rel="fancybox-button2">
                            <div class="image-holder text-center">
                              <img ng-src="{{images.image | uploadpath}}" class="img-responsive doneLoading" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </li>
                </flex-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="text-center">
          <h4 class="uppercase color-blue bold">Use <a class="color-red" href="{{tourInside.worldtourdetail.hashtag}}" target="_blank">#{{tourInside.worldtourdetail.name}}</a> and get to view live feed of everyone,<br> including yours, right here!</h4>
        </div>
      </div>
    </div>
  </div>-->
</section>
<div class="social">
  <section class="marg-section">
    <div class="social-back ">
        <div ng-include = "'views/content/social.html'"></div> 
      <!--<div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="social-box text-center">
              <img src="img/socials/facebook.png" class="doneLoading">
            </div>
            <div class="social-logo text-center">
              <div class="feed-social mt30">
                <div class="fb-page" data-href="https://www.facebook.com/GSWorldwideEnt/" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                  <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/GSWorldwideEnt/">
                      <a href="https://www.facebook.com/GSWorldwideEnt/">GS Worldwide Entertainment.</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="social-box text-center">
              <img src="img/socials/twitter.png" class="doneLoading">
            </div>
            <div class="social-logo text-center ">
              <a class="twitter-timeline" href="https://twitter.com/GSWorldwideEnt" data-widget-id="716880459599228928">Tweets by @GSWorldwideEnt</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="social-box text-center">
              <img src="img/socials/instagram.png" class="doneLoading">
            </div>
            <div class="social-logo text-center ">
              <iframe src="//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html" id="lightwidget_2965b73338" name="lightwidget_2965b73338" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; height:480px;"></iframe>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </section>
</div>