<section class="worldtour">
    <div class=container>
        <div class=row>
            <div class=col-xs-12>
                <div class="head-banner diaries-banner text-center"><img src="img/worldtour/world.png" class=img-responsive title="Worldtour"></div>
            </div>
        </div>
        <div class=row>
            <div class="col-md-offset-2 col-md-8">
                <div class="wedding-fant-desc mt50" ng-bind-html="tourdata.description.content">
                    <!-- <p>GS  provides one point of contact for our clients to implement their vision for even the most complex mega-events - competently and with no surprises. Events may be in the form of a unique concert, a full festival or a global touring strategy, we own, manage and represent across every major region in the world.</p> -->

                </div>
            </div>
        </div>
    </div>
    <div class="mehendi">
        <div class="movie-category wt-category bg-grey nav-tab-middle">
            <div class="container">
                <div class="title">
                    <!--<h4 ng-if="tourdata.worldtourpast.length>0" class="display-inline uppercase {{styleActives}}" ng-click="doActives(1);">-->
                    <h4 ng-if="tourdata.worldtourpast.length>0" class="display-inline uppercase">
                        Past Concerts
                    </h4>
                    <!--<h4 ng-if="tourdata.worldtourupcoming.length>0" class="display-inline uppercase {{styleNoActives}}" ng-click="doActives(2);">
                   Upcoming Concerts
               </h4>-->
                </div>
                <div class="flex-slider" ng-if="tourdata.worldtourpast.length>0">
                    <flex-slider flex-slide="data in tourdata.worldtourpast track by $index" ng-if="styleActives == 'mactives'" animation="slide" animation-loop="false" item-width="218" item-margin="10">
                        <li ui-sref="worldtourinside({id:data.id})">
                            <div class="movie-box text-center" ng-if="data.image">
                                <img ng-src="{{data.image | uploadpath}}" alt="{{data.image}}" class="img-responsive" ng-click="goToFunction(data)">
                                <!-- <img ui-sref="worldtourinside({id:data.id})" ng-src="{{data.image | uploadpath}}" alt="{{data.image}}" class="img-responsive" > -->
                                <div class="wt-data">
                                    <h4>{{data.name}}</h4>
                                    <p>{{data.location}}</p>
                                    <!-- <p class="red">14<sup>th</sup> January 2011</p> -->
                                    <p>{{data.date | date:"dd MMMM yyyy"}}</p>
                                </div>
                            </div>
                        </li>
                    </flex-slider>
                </div>
                <div class="flex-slider" ng-if="tourdata.worldtourupcoming.length>0">
                    <flex-slider flex-slide="data in tourdata.worldtourupcoming track by $index" ng-if="styleNoActives == 'mactives'" animation="slide" animation-loop="false" item-width="218" item-margin="10">
                        <li>
                            <div class="movie-box text-center" ng-if="data.image">
                                <img ng-src="{{data.image | uploadpath}}" alt="" class="img-responsive" ng-click="goToFunction(data)">
                                <div class="wt-data">
                                    <h4>{{data.name}}</h4>
                                    <p>{{data.location}}</p>
                                    <p class="red">{{data.date | date:"dd MMMM yyyy"}}</p>
                                </div>
                            </div>
                        </li>
                    </flex-slider>
                </div>
                <!-- <div class="movie-box text-center" ng-if="!data.image">
                  <h4 class="text-center">No data found</h4>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <section class="mehendi">
            <div class="mehendi-gallery nav-tab-middle ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="title">
                                <h4 class="display-inline uppercase {{styleActives}}" ng-click="doActives(1);">
                                    Past Concerts
                                </h4>
                                <h4 class="display-inline uppercase {{styleNoActives}}" ng-click="doActives(2);">
                                    Upcoming Concerts
                                </h4>
                            </div>
                            <div class="mb15">
                                <div class="slider-client">
                                    <flex-slider flex-slide="slide in wall track by $index" ng-if="styleActives == 'mactives'" animation="slide" animation-loop="false" as-nav-for="#slider" slideshow="false" prev-text="" next-text="">
                                        <li>
                                            <div class="row" ng-repeat="row in slide">
                                                <div class="col-xs-4" ng-repeat="wallpaper in row">
                                                    <div class="mb15">
                                                        <img ng-src="{{wallpaper.img}}" alt="" class="img-responsive">
                                                        <div class="wt-data">
                                                          <h4>ZEE CINE AWARDS</h4>
                                                          <p>Marina Sands Bay, Singapore</p>
                                                          <p class="red">14<sup>th</sup> January 2011</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </flex-slider>
                                    <flex-slider flex-slide="slide in wall track by $index" ng-if="styleNoActives == 'mactives'" animation="slide" animation-loop="false" as-nav-for="#slider" slideshow="false" prev-text="" next-text="">
                                        <li class="">
                                            <div class="row" ng-repeat="row in slide">
                                                <div class="col-xs-4" ng-repeat="wallpaper in row">
                                                    <div class="mb15">
                                                        <img ng-src="{{wallpaper.img}}" alt="" class="img-responsive">
                                                        <div class="wt-data">
                                                          <h4>ZEE CINE AWARDS</h4>
                                                          <p>Marina Sands Bay, Singapore</p>
                                                          <p class="red">14<sup>th</sup> January 2011</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </flex-slider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <div class="container">
        <div class=bg-moviesdiaries ng-hide="tourdata.worldtourdiaries.length==0">
            <div class=row>
                <div class=col-md-12>
                    <div class=text-center>
                        <div class=wedding-diary>
                            <div class="diary-title mr30">
                                <h4 class="uppercase color-red"><i class="fi flaticon-book"></i>world tour DIARIES</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=pd-side>
                <div class=row>
                    <div class="col-sm-4 col-xs-6" ng-repeat="data in tourdata.worldtourdiaries track by $index">
                        <div class="wed-box border-red">
                            <div class="wed-img-list wt-img-list"><img ng-src="{{data.image | uploadpath}}" class="img-responsive">
                                <div class="ribbon-red"><img src=img/ribbon_red.png> <span class="color-white uppercase">tour</span></div>
                            </div>
                            <div class=wed-desc>
                                <div class=wed-date><span>{{data.date | date:'d MMMM y'}}</span></div>
                                <div class="wed-desc-inside" ng-bind-html="data.content">
                                    <!-- <p class=bold>{{data.desc}}</p> -->
                                </div>
                                <div class="read-more clearfix">
                                    <a href="" class="color-black pull-left" ng-if="data.type==1" ui-sref="blogtext({id:data.id})">Read More</a>
                                    <a href="" class="color-black pull-left" ng-if="data.type==2" ui-sref="blogimage({id:data.id})">Read More</a>
                                    <a href="" class="color-black pull-left" ng-if="data.type==3" ui-sref="blogvideo({id:data.id})">Read More</a>
                                    <div class="wed-date pull-right color-blacks authorcolor">
                                        <a class="color-blacks"><span>By {{data.authorname}}</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="border-blue borders"></div>
                        </div>
                    </div>
                </div>
                <div class="btn-all mr30 text-center">
                    <button class="btn btn-danger btn-outline" ui-sref="diaries">View All</button>
                </div>
            </div>
        </div>
        <section>
            <div class="bg-subcribe-movies subcribe">
                <div class="container" ng-hide="subscribeEmail || checkEmail">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h4 class="text-center color-white">Sign up to our GS newsletter and get news on all upcoming world tours!</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form name="subForm" class="bs-example bs-example-form" role="form">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Enter email address" ng-model="subscribe.email" required>
                                    <span class="input-group-addon btn btn-danger" ng-click="subscribe(subscribe.email);" ng-disabled="subForm.$invalid">Subscribe</span>
                                    <div ng-messages="subForm.email.$error" ng-messages-include="error-messages"></div>
                                    <!-- <h4 ng-if="subscribeEmail && !checkEmail">Thankyou For Subscribing</h4>
                                        <h4 ng-if="checkEmail && !subscribeEmail">This email already exists</h4> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <h4 ng-if="subscribeEmail && !checkEmail">
                    <center class="color-white">Thankyou For Subscribing</center>
                </h4>
                <h4 ng-if="checkEmail && !subscribeEmail">
                    <center class="color-white">This email already exists
            </div>
        </section>
        <div class=section3>
            <div class=bg3>
                <div class=container>
                    <div class=client-speak ng-repeat="data in tourdata.testimonial | limitTo : 1">
                        <div class="name-cont color-white"><img src=img/inverted.png> <span>Client Speak</span></div>
                        <div class=img-holder><img ng-src="{{data.image | uploadpath}}" class=img-reponsive></div>
                        <div class="img-review color-white">
                            <h4>"{{data.quote}}"</h4>
                            <p>- {{data.author}}</p>
                            <!-- <h4>"Awesome teamwork and planning"</h4>
                    <p>- Ranbir Kapoor</p> -->
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="text-center">
                                <h4 class="uppercase color-blue bold">Use <a href="{{tourdata.description.hashtag}}" class="color-red" target="_blank">#GSworldtour</a> and get to view live feed of everyone,<br> including yours, right here!</h4>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- <div class=social>
        <section class=marg-section>
            <div class=social-back>
                <div class=container>
                    <div class=row>
                        <div class="col-md-4 col-sm-4" ng-if="tourdata.description.facebook">
                            <div class="social-box text-center"><img src=img/socials/facebook.png class=doneLoading></div>
                            <div class="social-logo text-center">
                                <div class="feed-social mt30">
                                    <div class=fb-page data-href="https://www.facebook.com/GSWorldwideEnt/" data-tabs=timeline data-width=360 data-height=480 data-small-header=false data-adapt-container-width=true data-hide-cover=false data-show-facepile=true>
                                        <div class=fb-xfbml-parse-ignore>
                                            <blockquote cite="https://www.facebook.com/GSWorldwideEnt/"><a href="{{tourdata.description.facebook}}">GS Worldwide Entertainment.</a></blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4" ng-if="tourdata.description.twitter">
                            <div class="social-box text-center"><img src=img/socials/twitter.png class=doneLoading></div>
                            <div class="social-logo text-center"><a class=twitter-timeline href="{{tourdata.description.twitter}}" data-widget-id=716880459599228928>Tweets by @GSWorldwideEnt</a></div>
                        </div>
                        <div class="col-md-4 col-sm-4" ng-if="tourdata.description.instagram">
                            <div class="social-box text-center"><img src=img/socials/instagram.png class=doneLoading></div>
                            <div class="social-logo text-center">
                                <iframe src=//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html id=lightwidget_2965b73338 name=lightwidget_2965b73338 scrolling=no allowtransparency=true class=lightwidget-widget style="width: 100%; border: 0; overflow: hidden; height:480px;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->

        <div class="social">
            <!-- <div ng-include = "'/social.html'"></div> -->
            <section class="marg-section">
                <div class="social-back ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="social-box text-center">
                                    <img src="img/socials/facebook.png" class="doneLoading">
                                </div>
                                <div class="social-logo text-center">
                                    <div class="feed-social mt30">
                                        <div class="fb-page" data-href="https://www.facebook.com/GSWorldwideEnt/" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                            <div class="fb-xfbml-parse-ignore">
                                                <blockquote cite="https://www.facebook.com/GSWorldwideEnt/">
                                                    <a href="https://www.facebook.com/GSWorldwideEnt/">GS Worldwide Entertainment.</a>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="social-box text-center">
                                    <img src="img/socials/twitter.png" class="doneLoading">
                                </div>
                                <div class="social-logo text-center ">
                                    <a class="twitter-timeline" href="https://twitter.com/GSWorldwideEnt" data-widget-id="716880459599228928">Tweets by @GSWorldwideEnt</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="social-box text-center">
                                    <img src="img/socials/instagram.png" class="doneLoading">
                                </div>
                                <div class="social-logo text-center ">
                                    <iframe src="//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html" id="lightwidget_2965b73338" name="lightwidget_2965b73338" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; height:480px;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class=mr30>
            <div class=row>
                <div class="col-md-offset-2 col-md-8">
                    <div class=get-in-touch ng-hide="showThanks">
                        <h3 class="color-red uppercase bold">GET IN TOUCH</h3>
                        <form name="wed">
                            <div class=row>
                                <div class=col-md-6>
                                    <div class=form-group>
                                        <input type=text ng-model=formData.firstname name=name class=form-control id=exampleInputEmail1 placeholder="First Name" required="">
                                        <div class=error-msg ng-show="wed.name.$error.required && wed.name.$touched">Please Enter Your First Name.</div>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class=form-group>
                                        <input type=text ng-model=formData.lastname name=name1 class=form-control id=exampleInputEmail1 placeholder="Last Name" required="">
                                        <div class=error-msg ng-show="wed.name1.$error.required && wed.name1.$touched">Please Enter Your Last Name.</div>
                                    </div>
                                </div>
                            </div>
                            <div class=row>
                                <div class=col-md-6>
                                    <div class=form-group>
                                        <input type=email ng-model=formData.email name=email class=form-control id=exampleInputEmail1 placeholder="Email" required="">
                                        <div class=error-msg ng-show="wed.email.$error.required && wed.email.$touched">Please Enter Your Email.</div>
                                    </div>
                                </div>
                                <div class=col-md-6>
                                    <div class=form-group>
                                        <input type=tel ng-model=formData.phone name=phone class=form-control id=exampleInputEmail1 maxlength=13 placeholder="Phone Number" required="">
                                        <div class=error-msg ng-show="wed.phone.$error.required && wed.phone.$touched">Please Enter Phone number.</div>
                                    </div>
                                </div>
                            </div>
                            <div class=form-group>
                                <div class=row>
                                    <div class=col-md-10>
                                        <div class=enq-list>
                                            <label class="checkbox-inline text-label" style="padding:0;margin-top:-6px;"><span class=color-red>Enquiring for</span></label>
                                            <label class=checkbox-inline>
                                            <input type="checkbox" id="Production" ng-click="pushorpop('Production')">
                                            <label for="Production"><span></span>Production</label>
                                            </label>
                                            <label class=checkbox-inline>
                                            <input type="checkbox" id="distribution" ng-click="pushorpop('Distribution')">
                                            <label for="distribution"><span></span>Distribution</label>
                                            </label>
                                            <label class=checkbox-inline>
                                            <input type="checkbox" id="casting" ng-click="pushorpop('Casting')">
                                            <label for="casting"><span></span>Casting</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=row>
                                <div class=col-md-12>
                                    <textarea class=form-control ng-model=formData.comment name=say rows=3 placeholder="Say Something" required=required></textarea>
                                    <div class=error-msg ng-show="wed.say.$error.required && wed.say.$touched">Enter Something</div>
                                    <div class="submit-btn btn-all text-center mt15">
                                        <button class="btn btn-danger" type=button name=button ng-class="{'disabled' : !wed.$valid }" ng-click="worldTourSubmitForm(wed)">submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="get-in-touch text-center" ng-show="showThanks">
                        <h5 class="color-red uppercase bold">Thank You ! Your enquiry has been submitted. We will get back to you soon.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>