<footer ng-controller="footerctrl">
    <section>
        <div class="footer-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <ul class="list-unstyled">
                                    <li><a ui-sref="movies" class="color-white"> MOVIES</a></li>
                                    <li><a ui-sref="event" class="color-white"> EVENTS</a> </li>
                                    <li><a ui-sref="wedding" class="color-white"> WEDDINGS</a></li>
                                    <li><a ui-sref="mice" class="color-white"> MICE</a></li>
                                    <li><a ui-sref="sports" class="color-white"> SPORTS</a></li>
                                    <li><a ui-sref="talent" class="color-white"> TALENT</a></li>
                                    <li><a ui-sref="worldtour" class="color-white"> WORLD TOURS</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <ul class="list-unstyled">
                                    <li><a ui-sref="home" class="color-white">HOME</a></li>
                                    <li><a ui-sref="aboutus" class="color-white">ABOUT US</a></li>
                                    <li><a ui-sref="diaries({category:''})" class="color-white">GS DIARIES</a></li>
                                    <li><a ui-sref="media_corner" class="color-white">MEDIA CORNER</a></li>
                                    <li><a ui-sref="clients" class="color-white">CLIENTS</a></li>
                                    <li><a ui-sref="career" class="color-white">CAREERS</a></li>
                                    <li><a ui-sref="contact" class="color-white">CONTACT US</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 hidden-xs">
                        <div class="followus text-center color-white">
                            <div class="followus-inner">
                                <p class="text-center">MUMBAI | DUBAI | NEW YORK </p>
                                <span>  Follow us on</span>
                                <a href="https://www.facebook.com/GSWorldwideEnt/" target="_blank" class="color-white"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/GSWorldwideEnt" target="_blank" class="color-white"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/gsworldwideent/" target="_blank" class="color-white"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/user/GSWorldwideTV" target="_blank" class="color-white"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-right">
                            <div class="btn-footer">
                                <a href="http://www.gsentertainment.com/img/GS_Brochure.pdf" download>
                                    <i class="fi flaticon-web"></i>
                                    <button class="btn">
                    Download GS Brochure
                </button>
                                </a>
                            </div>
                            <div class="btn-footer">
                                <a href="http://www.gsentertainment.com/img/GS_Event_History.pdf" download>
                                    <i class="fi flaticon-clock"></i>
                                    <button class="btn">GS Event History</button>
                                </a>
                            </div>
                            <div class="btn-footer">
                                <i class="fi flaticon-letter"></i>
                                <button class="btn" ng-click="openModal()">
                                      Get In Touch
                                </button>
                            </div>
                            <div class="music color-white">
                                Listen on
                                <a href="http://www.apple.com/in/music/" class="color-white" target="_blank"><i class="fa fa-apple"></i> Music</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 visible-xs">
                        <div class="followus text-center color-white">
                            <div class="followus-inner">
                                <p class="text-center">MUMBAI | DUBAI | NEW YORK </p>
                                <span>  Follow us on</span>
                                <a href="https://www.facebook.com/GSWorldwideEnt/" target="_blank" class="color-white"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/GSWorldwideEnt" target="_blank" class="color-white"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/gsworldwideent/" target="_blank" class="color-white"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/user/GSWorldwideTV" target="_blank" class="color-white"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-next">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 hidden-xs">
                    <p class="color-white">&copy; Copyright GS Worldwide Entertainment {{template.year}}.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p class="text-center color-white madein">Made with <span><img src="img/footer/unnamed.png" alt="heart" /></span> in India.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="text-right">
                        <p class="color-white">Designed &amp; Developed by <a href="http://ting.in/" target="_blank" class="color-white">TING</a>                            &amp; <a href="http://yfldigital.com/" target="_blank" class="color-white">YFLdigital</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 visible-xs">
                    <p class="color-white">&copy; Copyright GS Worldwide Entertainment {{template.year}}.</p>
                </div>
            </div>
        </div>
    </section>
</footer>