<footer>
  <section>
    <div class="footer-menu">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li><a ui-serf="#"> MOVIES</a></li>
                  <li><a ui-serf="#"> EVENTS</a> </li>
                  <li><a ui-serf="#"> WEDDINGS</a></li>
                  <li><a ui-serf="#"> MICESPORTSTALENT</a></li>
                  <li><a ui-serf="#"> WORLD TOURS</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li><a ui-serf="#">HOME</a></li>
                  <li><a ui-serf="#">ABOUT US</a></li>
                  <li><a ui-serf="#">GS DIARIES</a></li>
                  <li><a ui-serf="#">MEDIA CORNER</a></li>
                  <li><a ui-serf="#">CLIENTS</a></li>
                  <li><a ui-serf="#">CAREERS</a></li>
                  <li><a ui-serf="#">CONTACT US</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="followus text-center">
              <p class="text-center">MUMBAI | DUBAI | NEW YORK </p>

              Follow us on
              <a href="#" target="_blank"><i class="fa fa-facebook"></i>
          <a href="#" target="_blank"><i class="fa fa-twitter"></i>
          <a href="#" target="_blank"><i class="fa fa-instagram"></i>
          <a href="#" target="_blank"><i class="fa fa-youtube"></i>
          <a href="#" target="_blank"><i class="fa fa-linkedin"></i>
        </div>
      </div>
        <div class="col-md-4">
          <div class="btn-footer">
            <button class="btn btn-success">
              <i class=""></i> Download GS Brochure
            </button>
          </div>
          <div class="btn-footer">
            <button class="btn btn-success">
              <i class=""></i> GS Event History
            </button>
          </div>
                    <div class="btn-footer">
            <button class="btn btn-success">
                <i class=""></i> Get In Touch
            </button>
          </div>
          <div class="music">
            Listen on <i class="fa fa-apple"></i> <span>Music</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>&copy; Copyright GS Worldwide Entertainment {{template.year}}.</p>
      </div>
      <div class="col-md-4">
        <p class="text-center">Made with &hearts; in India.</p>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <p>Designed &amp; Developed by <a href="http://ting.in/" target="_blank">TING</a> &amp; YFLdigital.</p>
            </div>
          </div>
        </div>
      </div>
</footer>
