<footer>
  <section>
    <div class="footer-menu">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <li><a ui-serf="#" class="color-white"> MOVIES</a></li>
                  <li><a ui-serf="#" class="color-white"> EVENTS</a> </li>
                  <li><a ui-serf="#" class="color-white"> WEDDINGS</a></li>
                  <li><a ui-serf="#" class="color-white"> MICE</a></li>
                  <li><a ui-serf="#" class="color-white"> SPORTS</a></li>
                  <li><a ui-serf="#" class="color-white"> TALENT</a></li>
                  <li><a ui-serf="#" class="color-white"> WORLD TOURS</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <li><a ui-serf="#" class="color-white">HOME</a></li>
                  <li><a ui-serf="#" class="color-white">ABOUT US</a></li>
                  <li><a ui-serf="#" class="color-white">GS DIARIES</a></li>
                  <li><a ui-serf="#" class="color-white">MEDIA CORNER</a></li>
                  <li><a ui-serf="#" class="color-white">CLIENTS</a></li>
                  <li><a ui-serf="#" class="color-white">CAREERS</a></li>
                  <li><a ui-serf="#" class="color-white">CONTACT US</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="followus text-center color-white">
              <div class="followus-inner">
                <p class="text-center">MUMBAI | DUBAI | NEW YORK </p>
                <span>  Follow us on</span>
                <a href="#" target="_blank" class="color-white"><i class="fa fa-facebook"></i></a>
                <a href="#" target="_blank" class="color-white"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank" class="color-white"><i class="fa fa-instagram"></i></a>
                <a href="#" target="_blank" class="color-white"><i class="fa fa-youtube"></i></a>
                <a href="#" target="_blank" class="color-white"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 pull-right">
            <div class="btn-footer">
              <i class="fi flaticon-web"></i>
              <button class="btn">
                Download GS Brochure
              </button>
            </div>
            <div class="btn-footer">
              <i class="fi flaticon-clock"></i>
              <button class="btn">
                GS Event History
              </button>
            </div>
            <div class="btn-footer">
              <i class="fi flaticon-letter"></i>
              <button class="btn">
                Get In Touch
              </button>
            </div>
            <div class="music color-white">
              Listen on <a href="" class="color-white"><i class="fa fa-apple"></i> Music</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-next">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="color-white">&copy; Copyright GS Worldwide Entertainment {{template.year}}.</p>
        </div>
        <div class="col-md-4">
          <p class="text-center color-white madein">Made with <span>&hearts;</span> in India.</p>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <p class="color-white">Designed &amp; Developed by <a href="http://ting.in/" target="_blank" class="color-white">TING</a> &amp; YFLdigital.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
