<header ng-controller="headerctrl">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- <div class="collapse navbar-collapse" id="nav-collapse">
        <div ng-include="template.menu" class="template menu"></div>
      </div> -->
      <div class="row">
        <div class="headerp">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed {{buttonpos}}" ng-click="getnav();">
              <!-- <span class="sr-only">Toggle navigation</span> -->
              <span class="icon-bar {{onebar}}"></span>
              <span class="icon-bar {{secondbar}}"></span>
              <span class="icon-bar {{thirdbar}}"></span>
            </button>
          </div>
          <a class="navbar-brand pull-right" href="#/home"><img src="img/years.png" alt="logo" class="years"> </a>
          <a class="navbar-brand mt12" href="#/home"><img src="img/logo.png" alt="logo" class="logo"> </a>
          <div class="sidemenu {{getslide}}">
              <div class="nav-list">
                <div class="custscroll">
                <h4 class="menu-title">FEATURED</h4>
                <ul class="list-unstyled">
                  <li><a class="home color-white" ui-sref="home">HOME</a></li>
                  <li><a class="gsdairies color-white" ui-sref="diaries">GS DAIRIES</a></li>
                  <li><a class="king color-white">KINGS XI</a></li>
                  <li><a class="asfc color-white" ui-sref="asfc">ASFC</a></li>
                  <li><a class="jpp color-white" ui-sref="jpp">JPP</a></li>
                </ul>
                <h4 class="menu-title">FOLLOW US</h4>
                <div class="social">
                  <ul class="list-unstyled marbot">
                    <li class="display-inline">
                      <div class="socials">
                        <a href="https://www.facebook.com/GSWorldwideEnt/" class="fsize color-white" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </div>
                    </li>
                    <li class="display-inline">
                      <div class="socials">
                        <a href="https://twitter.com/GSWorldwideEnt" class="fsize color-white" target="_blank">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </li>
                    <li class="display-inline">
                      <div class="socials">
                        <a href="//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html" class="fsize color-white" target="_blank">
                        <i class="fa fa-instagram"></i>
                        </a>
                      </div>
                    </li>
                    <li class="display-inline">
                      <div class="socials">
                        <a href="https://www.youtube.com/user/GSWorldwideTV" class="fsize color-white" target="_blank">
                          <i class="fa fa-youtube"></i>
                        </a>
                      </div>
                    </li>
                    <li class="display-inline">
                      <div class="socials">
                        <a href="" class="fsize color-white" target="_blank">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
                <button class="btnsign" type="button" name="button">SIGN UP FOR GS NEWSLETTER</button>

                <h4 class="menu-title">SERVICES</h4>
                <ul class="list-unstyled">
                  <li><a class="movies color-white" ui-sref="movies">MOVIES</a></li>
                  <li><a class="events color-white" ui-sref="event">EVENTS</a></li>
                  <li><a class="wedding color-white" ui-sref="wedding">WEDDINGS</a></li>
                  <li><a class="mice color-white" ui-sref="mice">MICE</a></li>
                  <li><a class="sports color-white" ui-sref="sports">SPORTS</a></li>
                  <li><a class="talent color-white" ui-sref="talent">TALENT</a></li>
                  <li><a class="worldtour color-white" ui-sref="worldtour">WORLD TOUR</a></li>
                </ul>
                <h4 class="menu-title">ABOUT</h4>
                <ul class="list-unstyled">
                  <li><a class="about color-white" ui-sref="about">ABOUT US</a></li>
                  <li><a class="picture color-white" ui-sref="home">PICTURES</a></li>
                  <li><a class="video color-white" ui-sref="home">VIDEOS</a></li>
                  <li><a class="media color-white" ui-sref="media_corner({year:mediadata.year})">MEDIA CORNER</a></li>
                  <li><a class="client color-white" ui-sref="clients">CLIENTS</a></li>
                  <li><a class="career color-white" ui-sref="career">CAREERS</a></li>
                  <li><a class="contact color-white" ui-sref="contact">CONTACT US</a></li>
                </ul>
                <hr>
                <div class="menu-bottom">
                  <div class="pull-left bgcolor">
                    gs
                  </div>
                </div>
                <div class="copy">
                  <div class="text-center">
                    <span><i class="fa fa-copyright"></i> Copyright GS Worldwide Entertainment 2016</span>
                  </div>
                </div>
              </div>
              <!--©
              <div class="nav-inline">
              <ul class="list-unstyled">
              <li><a ui-sref="home">ABOUT US</a></li>
              <li><a ui-sref="home">BLOG</a></li>
              <li><a ui-sref="home">MEDIA</a></li>
              <li><a ui-sref="home">CAREERS</a></li>
              <li><a ui-sref="home">CONTACT US</a></li>
            </ul>
          </div> -->
        </div>
        </div>
            </div>
        </div>
      </div>
  </nav>
</header>
