<header ng-controller="headerctrl">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- <div class="collapse navbar-collapse" id="nav-collapse">
        <div ng-include="template.menu" class="template menu"></div>
      </div> -->
      <div class="row">
        <div class="headerp">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="getnav();">
              <!-- <span class="sr-only">Toggle navigation</span> -->
              <span class="icon-bar {{onebar}}"></span>
              <span class="icon-bar {{secondbar}}"></span>
              <span class="icon-bar {{thirdbar}}"></span>
            </button>
          </div>
          <a class="navbar-brand pull-right" href="#/home"><img src="img/years.png" alt="logo" class="years"> </a>
          <a class="navbar-brand mt12" href="#/home"><img src="img/logo.png" alt="logo" class="logo"> </a>
          <div class="sidemenu {{getslide}}">
            <div class="nav-list">
            <h4 class="menu-title">FEATURED</h4>
            <ul class="list-unstyled">
              <li><a class="movies" ui-sref="movies">MOVIES</a></li>
              <li><a class="wedding" ui-sref="wedding">WEDDINGS</a></li>
              <li><a class="sports" ui-sref="sports">SPORTS</a></li>
              <li><a class="events" ui-sref="home">EVENTS</a></li>
              <li><a class="talent" ui-sref="talent">TALENT</a></li>
              <li><a class="worldtour" ui-sref="home">WORLD TOUR</a></li>
            </ul>
            <h4 class="menu-title">FOLLOW US</h4>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-youtube"></i>

            <h4 class="menu-title">SERVICES</h4>
            <ul class="list-unstyled">
              <li><a class="movies" ui-sref="movies">MOVIES</a></li>
              <li><a class="wedding" ui-sref="wedding">WEDDINGS</a></li>
              <li><a class="sports" ui-sref="sports">SPORTS</a></li>
              <li><a class="events" ui-sref="home">EVENTS</a></li>
              <li><a class="talent" ui-sref="talent">TALENT</a></li>
              <li><a class="worldtour" ui-sref="home">WORLD TOUR</a></li>
            </ul>
            <h4 class="menu-title">ABOUT</h4>
            <ul class="list-unstyled">
              <li><a class="movies" ui-sref="movies">MOVIES</a></li>
              <li><a class="wedding" ui-sref="wedding">WEDDINGS</a></li>
              <li><a class="sports" ui-sref="sports">SPORTS</a></li>
              <li><a class="events" ui-sref="home">EVENTS</a></li>
              <li><a class="talent" ui-sref="talent">TALENT</a></li>
              <li><a class="worldtour" ui-sref="home">WORLD TOUR</a></li>
            </ul>
            <div class="menu-bottom">
              <div class="pull-left">
                    gs
              </div>
              <div class="pull-right">
                <h4><i class="fa fa-copyright" aria-hidden="true"></i> Copyright GS Worldwide Entertainment 2016</h4>
              </div>
            </div>
              </div>
              <!--©
              <div class="nav-inline">
                <ul class="list-unstyled">
                  <li><a ui-sref="home">ABOUT US</a></li>
                  <li><a ui-sref="home">BLOG</a></li>
                  <li><a ui-sref="home">MEDIA</a></li>
                  <li><a ui-sref="home">CAREERS</a></li>
                  <li><a ui-sref="home">CONTACT US</a></li>
                </ul>
              </div> -->
          </div>
        </div>
      </div>
  </nav>
</header>
